Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf

fix: unit test (#254)
  src/components/lpikit/FilterTags/WikipediaResults.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: upgrade vue-router from 4.2.5 to 4.3.0
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: continueOnFail
  k8s/projects-frontend/templates/e2e.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: naming
  k8s/projects-frontend/templates/e2e.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add high limit for headers
  deployment/nginx.conf
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: add high limit for headers (#256)
  deployment/nginx.conf
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix naming and actions deps
  .github/workflows/e2e.yml
  .github/workflows/lint-and-test.yml
  k8s/projects-frontend/templates/e2e.yaml
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: e2e tests for new home
  src/components/lpikit/HomeButtons/HomeButtons.vue
  src/components/lpikit/HomeNews/HomeNewsItem.vue
  src/components/lpikit/SearchOptions/SearchOptions.vue
  src/pages/NewHomePage/NewHomePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: npx playwright install
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: restore correct config
  playwright.config.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: e2e tests for new home (#257)
  src/components/lpikit/HomeButtons/HomeButtons.vue
  src/components/lpikit/HomeNews/HomeNewsItem.vue
  src/components/lpikit/SearchOptions/SearchOptions.vue
  src/pages/NewHomePage/NewHomePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: use unique uid
  e2e.Dockerfile
  k8s/projects-frontend/templates/e2e.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: use yarn
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: attempt to fix new home switch with a map (#252)
  src/components/lpikit/FilterTags/WikipediaResults.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: run with the yarn installed playwright
  e2e.Dockerfile
  package.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: translation of bold
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: role translation in account form
  src/components/Layouts/Account/AccountForm.vue
  src/locales/en.json
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: translation of bold (#258)
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: install deps
  e2e.Dockerfile
  playwright.config.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: unit test
  tests/unit/components/lpikit/FilterTags/WikipediaResults.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: use npx again
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: role translation in account form (#259)
  src/components/Layouts/Account/AccountForm.vue
  src/locales/en.json
  src/locales/fr.json
  tests/unit/components/lpikit/FilterTags/WikipediaResults.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: add chmod to .cache
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: simplify docker image a bunch
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: npm cache
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: npx cmd
  k8s/projects-frontend/templates/e2e.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: install pw tests
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: readd pw from package
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: install chrome
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: with deps ?
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: back to basics
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add dotenv
  .github/workflows/entrypoint-push-to-branches.yml
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: move cache folder around
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add failure hook
  e2e.Dockerfile
  k8s/projects-frontend/templates/e2e.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: try reporting status
  k8s/projects-frontend/templates/e2e.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: mount secret + feat: actually report status
  k8s/projects-frontend/templates/e2e.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: load secrets + fix: reporter
  k8s/projects-frontend/templates/e2e.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: text
  k8s/projects-frontend/templates/e2e.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: upgrade @tiptap/core from 2.2.3 to 2.2.4
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: upgrade @tiptap/extension-collaboration from 2.2.3 to 2.2.4
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri
