Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf

Update e2e.yml
  .github/workflows/e2e.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

PROJ-1226-[e2e]increase the timeout a bit and minor fixes (#61)
  .github/workflows/e2e.yml
  package.json
  playwright.config.ts
  tests/playwright/UserCreation/createUser.spec.ts
  tests/playwright/variables.ts
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: upgrade commitlint from 17.7.1 to 17.7.2
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: upgrade vue-i18n from 9.4.1 to 9.5.0
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: upgrade prosemirror-transform from 1.7.5 to 1.8.0
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: display app version in loader screen
  index.html
  vite.config.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: refacto app store loading state dead code
  src/App.vue
  src/components/Header/LpiHeader.vue
  src/components/lpikit/ProjectHeader/ProjectHeader.vue
  src/pages/AdminPortalPage/AdminPortalPage.vue
  src/pages/CategoryPage/CategoryPage.vue
  src/pages/ErrorPage/ErrorPage.vue
  src/pages/HomePage/HomePage.vue
  src/pages/MapPage/MapPage.vue
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/SearchPage/SearchPage.vue
  src/store/index.ts
  src/store/modules/app.ts
  src/store/modules/users.ts
  src/views/AboutPage.vue
  src/views/DiscoverPage.vue
  tests/unit/store/users.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: rename groupmodal to pickgroup, fix group highlight
  src/components/lpikit/PickGroupDrawer/PickGroupDrawer.vue
  src/pages/AdminPortalPage/Tabs/PickGroup.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove group description padding
  src/pages/GroupPage/Tabs/GroupSnapshotTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

create user via link
  src/pages/RegisterPage/RegisterPage.vue
  tests/playwright/UserCreation/createUser.spec.ts
  tests/playwright/lib/createInvitaionLink.ts
  tests/playwright/lib/createUserFromInvitationLink.ts
  tests/playwright/lib/index.ts
  tests/playwright/lib/interfaces/user.ts
  tests/playwright/lib/reportAbuse.ts
  tests/playwright/variables.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove contact links from help, add to footer and refacto
  src/components/lpikit/Footer/FooterEnglishTips.vue
  src/components/lpikit/Footer/LpiFooter.vue
  src/components/lpikit/Tabs/TabsLayout.vue
  src/pages/HelpPage/HelpPage.vue
  src/pages/PortalPage/PortalPage.vue
  src/pages/RegisterPage/RegisterPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/components/lpikit/Tabs/TabsLayout.vue
  src/pages/HelpPage/HelpPage.vue
  src/pages/PortalPage/PortalPage.vue
  src/pages/RegisterPage/RegisterPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/App.vue
  src/components/lpikit/Tabs/TabsLayout.vue
  src/pages/HelpPage/HelpPage.vue
  src/pages/PortalPage/PortalPage.vue
  src/pages/RegisterPage/RegisterPage.vue
  src/store/modules/users.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/components/lpikit/Tabs/TabsLayout.vue
  src/pages/HelpPage/HelpPage.vue
  src/pages/PortalPage/PortalPage.vue
  src/pages/RegisterPage/RegisterPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/components/lpikit/Tabs/TabsLayout.vue
  src/pages/HelpPage/HelpPage.vue
  src/pages/PortalPage/PortalPage.vue
  src/pages/RegisterPage/RegisterPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: dummy commit to kick workflow
  src/components/lpikit/Footer/FooterEnglishTips.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

update workflow
  .github/workflows/e2e.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

updated e2e.yml
  .github/workflows/e2e.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

remove comment
  tests/playwright/UserCreation/createUser.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add missing var for local fullstack in dockerfile
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

updated e2e.yml (#73)
  .github/workflows/e2e.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: refacto profile edit sdgs
  src/pages/ProfileEditPage/Tabs/ProfileGeneralEditTab.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add animations on project sdg edit
  src/components/lpikit/ProjectHeader/ProjectHeader.vue
  src/pages/ProjectPage/Tabs/ProjectGoals/SdgRecap.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1191-e2e-create user via link (#71)
  src/pages/RegisterPage/RegisterPage.vue
  tests/playwright/UserCreation/createUser.spec.ts
  tests/playwright/lib/createInvitaionLink.ts
  tests/playwright/lib/createUserFromInvitationLink.ts
  tests/playwright/lib/index.ts
  tests/playwright/lib/interfaces/user.ts
  tests/playwright/lib/reportAbuse.ts
  tests/playwright/variables.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: branch names and if syntax for e2e startup
  .github/workflows/e2e.yml
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: add missing var for local fullstack in dockerfile (#74)
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

commented for later
  tests/playwright/UserCreation/createUser.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix:commented for later (#77)
  tests/playwright/UserCreation/createUser.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: lint without fixing in ci
  .github/workflows/lint-and-test.yml
  package.json
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: linting issues
  src/components/lpikit/Tabs/TabsLayout.vue
  src/pages/HelpPage/HelpPage.vue
  src/pages/PortalPage/PortalPage.vue
  src/pages/RegisterPage/RegisterPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

Lint without using `--fix` in CI (#79)
  .github/workflows/lint-and-test.yml
  package.json
  src/components/lpikit/Tabs/TabsLayout.vue
  src/pages/HelpPage/HelpPage.vue
  src/pages/PortalPage/PortalPage.vue
  src/pages/RegisterPage/RegisterPage.vue
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: route and section mismatch in search page
  src/components/Layouts/Search/BrowseLayout.vue
  src/components/lpikit/SearchOptions/SearchOptions.vue
  src/pages/CategoriesPage/CategoriesPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: profile edit tabs width
  src/pages/ProfileEditPage/ProfileEditPage.vue
  src/pages/ProfileEditPage/Tabs/ProfileEditTabs.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: profile page padding
  src/components/lpikit/FullProfile/ProfileHeader.vue
  src/pages/UserProfilePage/UserProfilePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: rename admin helptab to helpadmintab
  src/pages/AdminPortalPage/Tabs/HelpAdminTab.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add echo
  interpolate-variables.sh
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: try with cleaner echo
  interpolate-variables.sh
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: dont quote seds
  interpolate-variables.sh
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri
