Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf

fix: remove optional variable from k8s dev 2
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: try to fix ssl mode for db connection
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: hide chat drawer on agent pages
  src/app.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: add env to enabale chatbots and vectors
  nuxt.config.ts
  src/composables/usePage404.ts
  src/pages/AdminPortalPageV2/Tabs/AgentSkillsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/AgentsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/McpsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/PromptsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/VectorStoreAdminTab.vue
  src/pages/Chatbot/ChatbotPage.vue
  src/server/utils/vector-db.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: add prisma generate step to lint and test workflow
  .github/workflows/lint-and-test.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: add migration files
  .gitignore
  prisma-chatbot-db/migrations/20260421082957_initial_schema/migration.sql
  prisma-chatbot-db/migrations/migration_lock.toml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: try to fix ssl mode for db connection
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: add secrets for vector and agents dbs
  .env.sample
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: temp expose prisma for manual migration
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: chatbot db url
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: yran setup for manual prisma migrations
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: change vector staore table name
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: try to fix extension schema for vector db
  .env.sample
  k8s/projects-frontend/secrets.dev.yaml
  nuxt.config.ts
  src/server/routes/api/agent/index.post.ts
  src/server/utils/vector-db.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: issuperadmin check and ssl mode in db connection strings
  k8s/projects-frontend/secrets.dev.yaml
  src/server/utils/check-super-admin-rights.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: extra temp setup for prisma migrations
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: add global dotenv for migrations
  Dockerfile
  nuxt.config.ts
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: temp add global prisma to build
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: attempt to fix azruere pg init issue by subclassing langchain
  k8s/projects-frontend/secrets.dev.yaml
  src/server/utils/vector-db.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: agent db url
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: correct subclass of pgvector
  src/server/utils/vector-db.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: jwt parser
  src/server/utils/check-super-admin-rights.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: disable tempateCreateTab and templatetab unit tests after rebase
  tests/unit/pages/AdminPortalPageV2/Tabs/TemplatesCreateTab.test.ts
  tests/unit/pages/AdminPortalPageV2/Tabs/TemplatesTab.test.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: post nasty rebase fixes
  src/app/router.options.ts
  src/data/sdgs.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: add langsmith tracing for dev stack
  k8s/projects-frontend/secrets.dev.yaml
  src/server/routes/api/chatbot/chat.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: chat 502 errors when deployed
  src/components/app/ChatbotUi.vue
  src/server/routes/api/chatbot/chat.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: disable onboarding tab unit test after rebase
  tests/unit/pages/HelpPage/Tabs/OnBoardingTab.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/components/agents/agent-admin/AgentAdminForm.vue
  src/server/routes/api/chatbot/chat.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove useless variable for agents chat
  src/server/routes/api/chatbot/chat.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: reset conversation when leaving chat
  src/components/app/ChatBotDrawer.vue
  src/components/app/ChatbotUi.vue
  src/pages/Chatbot/ChatbotPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: agent data loading in edit and create form
  src/components/agents/agent-admin/AgentAdminForm.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: use latest skill and prompt cascade version update
  src/components/agents/agent-admin/AgentAdminForm.vue
  src/server/routes/api/prompt/[id].put.ts
  src/server/routes/api/skill/[id].put.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: vector store ingestion support for txt and docx files
  package.json
  src/components/agents/vector-store/VectorStoreIngestionForm.vue
  src/server/routes/api/vector-store/ingest.post.ts
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: remove debug logs
  src/server/routes/api/vector-store/ingest.post.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: chatbot admin rights
  src/components/agents/prompt-admin/PromptAdminForm.vue
  src/pages/AdminPortalPageV2/AdminPortalPage.vue
  src/server/routes/api/agent/[id].delete.ts
  src/server/routes/api/agent/[id].get.ts
  src/server/routes/api/agent/[id].put.ts
  src/server/routes/api/agent/index.get.ts
  src/server/routes/api/agent/index.post.ts
  src/server/routes/api/chatbot/[slug].get.ts
  src/server/routes/api/chatbot/chat.ts
  src/server/routes/api/prompt/[id].delete.ts
  src/server/routes/api/prompt/[id].get.ts
  src/server/routes/api/prompt/[id].put.ts
  src/server/routes/api/prompt/index.get.ts
  src/server/routes/api/prompt/index.post.ts
  src/server/routes/api/skill/[id].delete.ts
  src/server/routes/api/skill/[id].get.ts
  src/server/routes/api/skill/[id].put.ts
  src/server/routes/api/skill/index.get.ts
  src/server/routes/api/skill/index.post.ts
  src/server/routes/api/vector-store/delete.delete.ts
  src/server/routes/api/vector-store/get.get.ts
  src/server/routes/api/vector-store/ingest.post.ts
  src/server/routes/api/vector-store/list.get.ts
  src/server/utils/check-admin-rights.js
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove erroneous fix for langsmith env, rotate exposed key
  k8s/projects-frontend/secrets.dev.yaml
  nuxt.config.ts
  src/server/routes/api/chat-lg-stream.ts
  src/server/routes/api/chatbot/chat.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: fix env for langsmith from drawer
  src/server/routes/api/chat-lg-stream.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add welcoming message to agents
  prisma-chatbot-db/migrations/20260505153320_add_start_message/migration.sql
  prisma-chatbot-db/schema.prisma
  src/components/agents/agent-admin/AgentAdminForm.vue
  src/components/agents/agent-admin/AgentSkillPicker.vue
  src/components/agents/skill-admin/SkillAdminForm.vue
  src/components/app/ChatbotUi.vue
  src/pages/Chatbot/ChatbotPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: fix env for langsmith
  nuxt.config.ts
  src/server/routes/api/chatbot/chat.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: 404 for agent page and misisng translation
  src/i18n/locales/ca.json
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/et.json
  src/i18n/locales/fr.json
  src/i18n/locales/nl.json
  src/pages/Chatbot/ChatbotPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: null agent bug
  src/pages/Chatbot/ChatbotPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri
