Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf

fix: bug on create blog in just created project (#236)
  src/pages/ProjectPage/ProjectPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add kc secrets
  .github/workflows/entrypoint-push-to-branches.yml
  k8s/projects-frontend/e2e/secrets.dev.yaml
  k8s/projects-frontend/e2e/values.dev.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

feat: use oci config
  .gitignore
  k8s/projects-frontend/Chart.lock
  k8s/projects-frontend/Chart.yaml
  k8s/projects-frontend/templates/config.yaml
  k8s/projects-frontend/templates/deployment.yaml
  k8s/projects-frontend/templates/environment-configmap.yaml
  k8s/projects-frontend/templates/environment-secret.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

Revert "feat: use oci config"
  .gitignore
  k8s/projects-frontend/Chart.lock
  k8s/projects-frontend/Chart.yaml
  k8s/projects-frontend/templates/config.yaml
  k8s/projects-frontend/templates/deployment.yaml
  k8s/projects-frontend/templates/environment-configmap.yaml
  k8s/projects-frontend/templates/environment-secret.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

Frontend e2e (#233)
  .github/workflows/entrypoint-push-to-branches.yml
  k8s/projects-frontend/e2e/secrets.dev.yaml
  k8s/projects-frontend/e2e/values.dev.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: wording
  src/locales/en.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: resize runners
  .github/workflows/e2e.yml
  .github/workflows/lint-and-test.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: update node and tiptap and fix table resize
  Dockerfile
  Dockerfile.dev
  package.json
  src/components/lpikit/TextEditor/TipTapEditor.vue
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/App.vue
  src/components/Layouts/Search/BrowseLayout.vue
  src/components/lpikit/BaseModal/BaseModal.vue
  src/components/lpikit/DialogModal/DialogModal.vue
  src/components/lpikit/Dropdown/SearchOptionDropDown.vue
  src/components/lpikit/FilterTags/AmbiguousResults.vue
  src/components/lpikit/ImageInput/ImageInput.vue
  src/components/lpikit/LinkedProjectDrawer/LinkedProjectDrawer.vue
  src/components/lpikit/LinkedProjectDrawer/ProjectSelection.vue
  src/components/lpikit/OnboardingModal/OnboardingModal.vue
  src/components/lpikit/PickProjectsDrawer/PickProjectSelection.vue
  src/components/lpikit/ReviewDrawer/ReviewDrawer.vue
  src/components/peopleKit/BasicCard.vue
  src/components/peopleKit/Filters/SdgsFilter.vue
  src/design/scss/leaflet_map.scss
  src/design/scss/main.scss
  src/design/scss/typo.scss
  src/pages/HomePage/HomePage.vue
  src/pages/ProfileEditPage/ProjectSelection.vue
  src/pages/ProjectPage/Tabs/Summary/PublicationRecap.vue
  tests/unit/components/lpikit/BaseModal.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1511-update-hocuspocus (#238)
  Dockerfile
  Dockerfile.dev
  package.json
  src/App.vue
  src/components/Layouts/Search/BrowseLayout.vue
  src/components/lpikit/BaseModal/BaseModal.vue
  src/components/lpikit/DialogModal/DialogModal.vue
  src/components/lpikit/Dropdown/SearchOptionDropDown.vue
  src/components/lpikit/FilterTags/AmbiguousResults.vue
  src/components/lpikit/ImageInput/ImageInput.vue
  src/components/lpikit/LinkedProjectDrawer/LinkedProjectDrawer.vue
  src/components/lpikit/LinkedProjectDrawer/ProjectSelection.vue
  src/components/lpikit/OnboardingModal/OnboardingModal.vue
  src/components/lpikit/PickProjectsDrawer/PickProjectSelection.vue
  src/components/lpikit/ReviewDrawer/ReviewDrawer.vue
  src/components/lpikit/TextEditor/TipTapEditor.vue
  src/components/peopleKit/BasicCard.vue
  src/components/peopleKit/Filters/SdgsFilter.vue
  src/design/scss/leaflet_map.scss
  src/design/scss/main.scss
  src/design/scss/typo.scss
  src/pages/HomePage/HomePage.vue
  src/pages/ProfileEditPage/ProjectSelection.vue
  src/pages/ProjectPage/Tabs/Summary/PublicationRecap.vue
  tests/unit/components/lpikit/BaseModal.spec.ts
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add dev utility panels
  .env.example
  package.json
  src/components/Header/LpiHeader.vue
  src/components/svgs/IconList.vue
  src/pages/DebugPage/DebugPage.vue
  src/pages/DebugPage/Tabs/DebugIcons.vue
  src/pages/DebugPage/Tabs/DebugOnboarding.vue
  src/router/routes.ts
  utilities/list-icons.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/components/svgs/IconList.vue
  src/pages/DebugPage/Tabs/DebugOnboarding.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1461-ajouter-des-utilitaires-de-dev-pour-le-front (#210)
  .env.example
  package.json
  src/components/Header/LpiHeader.vue
  src/components/svgs/IconList.vue
  src/pages/DebugPage/DebugPage.vue
  src/pages/DebugPage/Tabs/DebugIcons.vue
  src/pages/DebugPage/Tabs/DebugOnboarding.vue
  src/router/routes.ts
  utilities/list-icons.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: wording (#237)
  src/locales/en.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

added left side of the new home page
  src/api/recommendations.service.ts
  src/components/lpikit/Dropdown/ProjectCategoriesDropdown.vue
  src/components/lpikit/Recommendations/ProjectRecommendationItem.vue
  src/components/lpikit/Recommendations/RecommendationBlock.vue
  src/components/lpikit/Recommendations/RecommendationList.vue
  src/components/lpikit/Recommendations/UserRecommendationItem.vue
  src/locales/en.json
  src/locales/fr.json
  src/models/recommandation.model.ts
  src/pages/NewHomePage/NewHomePage.vue
  src/store/index.ts
  src/store/modules/recommendations.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add code tool to editor
  package.json
  src/components/lpikit/TextEditor/MenuBar.vue
  src/components/lpikit/TextEditor/TipTapEditor.vue
  src/components/lpikit/TextEditor/tiptap-extensions/LpiCodeBlock.ts
  src/components/lpikit/TextEditor/tiptap-extensions/LpiCodeBlockNodeView.vue
  src/design/scss/editor.scss
  src/functs/editorUtils.ts
  src/functs/lowlight.ts
  src/locales/en.json
  src/locales/fr.json
  src/pages/ProjectPage/Tabs/Description/ProjectDescriptionTab.vue
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add code tool to editor (#239)
  package.json
  src/components/lpikit/TextEditor/MenuBar.vue
  src/components/lpikit/TextEditor/TipTapEditor.vue
  src/components/lpikit/TextEditor/tiptap-extensions/LpiCodeBlock.ts
  src/components/lpikit/TextEditor/tiptap-extensions/LpiCodeBlockNodeView.vue
  src/design/scss/editor.scss
  src/functs/editorUtils.ts
  src/functs/lowlight.ts
  src/locales/en.json
  src/locales/fr.json
  src/pages/ProjectPage/Tabs/Description/ProjectDescriptionTab.vue
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

added new homepage elements - mobile ok
  src/components/lpikit/Dropdown/SearchOptionDropDown.vue
  src/components/lpikit/FilterTags/AmbiguousResults.vue
  src/components/lpikit/HomeButtons/HomeButtons.vue
  src/components/lpikit/HomeNews/HomeNews.vue
  src/components/lpikit/HomeNews/HomeNewsItem.vue
  src/components/lpikit/ImageInput/ImageInput.vue
  src/components/lpikit/LinkedProjectDrawer/LinkedProjectDrawer.vue
  src/components/lpikit/LpiButton/LpiButton.vue
  src/components/lpikit/Recommendations/UserRecommendationItem.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/NewHomePage/NewHomePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: missing tranlastion on page 404
  src/locales/en.json
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: missing tranlastion on page 404 (#241)
  src/locales/en.json
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: mobile menu sub list links
  src/components/Header/HeaderItemList.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: non-closing skill suggestions on deleted query
  src/components/lpikit/SkillsEditDrawer/SkillsEditDrawer.vue
  src/components/peopleKit/Skills/SkillsFilterEditor.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add e2e dockerfile
  e2e.Dockerfile
  e2e.Dockerfile.dockerignore
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: mobile menu sub list links (#242)
  src/components/Header/HeaderItemList.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

[feat]added new home page
  src/components/lpikit/HomeNews/HomeAnnouncementsItem.vue
  src/components/lpikit/HomeNews/HomeNews.vue
  src/components/lpikit/Recommendations/ProjectRecommendationItem.vue
  src/components/lpikit/Recommendations/RecommendationList.vue
  src/components/lpikit/Recommendations/UserRecommendationItem.vue
  src/components/lpikit/SummaryCards/ProjectLine.vue
  src/components/lpikit/SummaryCards/SummaryCardsList.vue
  src/components/lpikit/SummaryCards/UniqueSummaryCard.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/NewHomePage/NewHomePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

linter
  src/components/lpikit/HomeNews/HomeAnnouncementsItem.vue
  src/components/lpikit/HomeNews/HomeNewsItem.vue
  src/components/lpikit/SummaryCards/UniqueSummaryCard.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: non-closing skill suggestions on deleted query (#243)
  src/components/lpikit/SkillsEditDrawer/SkillsEditDrawer.vue
  src/components/peopleKit/Skills/SkillsFilterEditor.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: change github channel for e2e report
  .github/workflows/e2e.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

updated linter
  src/components/lpikit/Dropdown/ProjectCategoriesDropdown.vue
  src/components/lpikit/FilterTags/AmbiguousResults.vue
  src/components/lpikit/HomeButtons/HomeButtons.vue
  src/components/lpikit/HomeNews/HomeNews.vue
  src/components/lpikit/ImageInput/ImageInput.vue
  src/components/lpikit/LinkedProjectDrawer/LinkedProjectDrawer.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: finish e2e dockerfile, and add wf
  .github/workflows/e2e-image-push.yml
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

added corrections to the home page
  src/components/lpikit/Dropdown/ProjectCategoriesDropdown.vue
  src/components/lpikit/HomeNews/HomeNews.vue
  src/components/lpikit/LpiButton/LpiButton.vue
  src/pages/NewHomePage/NewHomePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

E2e docker (#244)
  .github/workflows/e2e-image-push.yml
  e2e.Dockerfile
  e2e.Dockerfile.dockerignore
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

corrections to the new home page
  src/api/recommendations.service.ts
  src/components/lpikit/Dropdown/DropdownCategories.vue
  src/components/lpikit/Dropdown/ProjectCategoriesDropdown.vue
  src/components/lpikit/HomeNews/HomeAnnouncementsItem.vue
  src/components/lpikit/HomeNews/HomeNews.vue
  src/components/lpikit/HomeNews/HomeNewsItem.vue
  src/components/lpikit/Recommendations/ProjectRecommendationItem.vue
  src/components/lpikit/Recommendations/RecommendationBlock.vue
  src/components/lpikit/Recommendations/UserRecommendationItem.vue
  src/components/lpikit/SummaryCards/UniqueSummaryCard.vue
  src/store/index.ts
  src/store/modules/recommendations.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

1504 [feat] added home page elements (#240)
  src/api/recommendations.service.ts
  src/components/lpikit/Dropdown/DropdownCategories.vue
  src/components/lpikit/Dropdown/ProjectCategoriesDropdown.vue
  src/components/lpikit/Dropdown/SearchOptionDropDown.vue
  src/components/lpikit/HomeButtons/HomeButtons.vue
  src/components/lpikit/HomeNews/HomeAnnouncementsItem.vue
  src/components/lpikit/HomeNews/HomeNews.vue
  src/components/lpikit/HomeNews/HomeNewsItem.vue
  src/components/lpikit/LpiButton/LpiButton.vue
  src/components/lpikit/Recommendations/ProjectRecommendationItem.vue
  src/components/lpikit/Recommendations/RecommendationBlock.vue
  src/components/lpikit/Recommendations/RecommendationList.vue
  src/components/lpikit/Recommendations/UserRecommendationItem.vue
  src/components/lpikit/SummaryCards/ProjectLine.vue
  src/components/lpikit/SummaryCards/SummaryCardsList.vue
  src/components/lpikit/SummaryCards/UniqueSummaryCard.vue
  src/locales/en.json
  src/locales/fr.json
  src/models/recommandation.model.ts
  src/pages/NewHomePage/NewHomePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: refacto and lint
  src/components/lpikit/EditEventDrawer/EditEventDrawer.vue
  src/components/lpikit/EventForm/EventForm.vue
  src/components/lpikit/EventList/EventItem.vue
  src/components/lpikit/EventList/EventList.vue
  src/components/lpikit/MultiGroupPicker/MultiGroupPicker.vue
  src/components/lpikit/MultiGroupPicker/MultiGroupPickerElement.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/CreateEventPage/CreateEventPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add event form and calendar
  src/components/lpikit/EditEventDrawer/EditEventDrawer.vue
  src/components/lpikit/EventForm/EventForm.vue
  src/components/lpikit/EventForm/EventGroupsElement.vue
  src/components/lpikit/EventList/EventItem.vue
  src/components/lpikit/EventList/EventList.vue
  src/components/peopleKit/Filters/FilterValue.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/CalendarPage/CalendarPage.vue
  src/pages/CalendarPage/Tabs/FutureEvents.vue
  src/pages/CalendarPage/Tabs/PastEvents.vue
  src/pages/CreateEventPage/CreateEventPage.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: btn icon attribute in drawerlayout
  src/components/lpikit/Drawer/DrawerLayout.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: btn icon attribute in drawerlayout (#246)
  src/components/lpikit/Drawer/DrawerLayout.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add base k8s config to run e2e
  .gitignore
  e2e.Dockerfile
  k8s/projects-frontend/Chart.lock
  k8s/projects-frontend/Chart.yaml
  k8s/projects-frontend/local.test.yaml
  k8s/projects-frontend/secrets.dev.yaml
  k8s/projects-frontend/templates/e2e.yaml
  k8s/projects-frontend/templates/environment-configmap.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: push image if editing e2e anyway
  .github/workflows/e2e-image-push.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf
