Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

fix: lint
  src/components/Header/LpiHeader.vue
  src/components/lpikit/OnboardingTodoBlock/OnboardingTodoBlock.vue
  src/pages/HomePage/HomePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1340-Cr-er-le-todo-block-de-l-onboarding (#138)
  src/components/Header/LpiHeader.vue
  src/components/lpikit/OnboardingTodoBlock/OnboardingTodo.vue
  src/components/lpikit/OnboardingTodoBlock/OnboardingTodoBlock.vue
  src/locales/en.json
  src/locales/fr.json
  src/mixins/onboardingStatusMixin.ts
  src/models/user.model.ts
  src/pages/CategoriesPage/CategoriesPage.vue
  src/pages/CreateProjectPage/CreateProjectPage.vue
  src/pages/HelpPage/HelpPage.vue
  src/pages/HomePage/HomePage.vue
  src/pages/ProfileEditPage/ProfileEditPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: use imageeditor in complete profile page
  src/components/lpikit/ImageEditor/ImageEditor.vue
  src/components/lpikit/ImageInput/ImageInput.vue
  src/pages/CompleteProfilePage/CompleteProfilePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add a complete profile component
  src/locales/en.json
  src/locales/fr.json
  src/pages/CompleteProfilePage/CompleteProfilePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: refacto image editor
  src/components/lpikit/ImageEditor/ImageEditor.vue
  src/pages/ProfileEditPage/Tabs/ProfileGeneralEditTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: factorize image edit logic in a component
  src/components/Layouts/Account/AccountForm.vue
  src/components/lpikit/GroupForm/GroupForm.vue
  src/components/lpikit/ImageEditor/ImageEditor.vue
  src/components/lpikit/ProjectDrawer/ProjectDrawer.vue
  src/components/lpikit/ProjectForm/ProjectForm.vue
  src/pages/CompleteProfilePage/CompleteProfilePage.vue
  src/pages/ProfileEditPage/Tabs/ProfileGeneralEditTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add a complete profile component
  src/locales/en.json
  src/pages/CompleteProfilePage/CompleteProfilePage.vue
  src/pages/CompleteProfilePage/ProfileEditBlock.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: image resizer misplaced crop area when reopening
  src/components/lpikit/ImageResizer/ImageResizer.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add a complete profile component
  src/pages/CompleteProfilePage/CompleteProfilePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: complete profile use naked tiptap, remove reources and add hobbies
  src/components/lpikit/TextEditor/TipTapEditor.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/CompleteProfilePage/CompleteProfilePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: complete profile remove short bio and add exemples
  .env.example
  .github/workflows/entrypoint-push-to-branches.yml
  Dockerfile
  k8s/projects-frontend/values.yaml
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/locales/en.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

fix: tweak after rebasing on buttons refacto
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileDrawer.vue
  src/components/lpikit/ImageEditor/ImageEditor.vue
  src/components/lpikit/ImageInput/ImageInput.vue
  src/components/lpikit/LpiButton/LinkButton.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: comment out complete profile debug route
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: complete profile as a drawer and refacto
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileDrawer.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileStep2.vue
  src/components/lpikit/CompleteProfileDrawer/ProfileEditBlock.vue
  src/components/lpikit/Footer/LpiFooter.vue
  src/components/lpikit/TextEditor/TipTapEditor.vue
  src/components/lpikit/WelcomeModal/WelcomeModal.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/CompleteProfilePage/CompleteProfilePage.vue
  src/pages/ProfileEditPage/Tabs/ProfileSkillsEditTab.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: rework imageeditor according to new specs
  src/components/lpikit/ImageEditor/ImageEditor.vue
  src/locales/en.json
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: second screen of complete profile drawer
  src/components/lpikit/Drawer/DrawerLayout.vue
  src/components/lpikit/ImageEditor/ImageEditor.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/CompleteProfilePage/CompleteProfilePage.vue
  src/pages/CompleteProfilePage/CompleteProfileStep1.vue
  src/pages/CompleteProfilePage/CompleteProfileStep2.vue
  src/pages/CompleteProfilePage/ProfileEditBlock.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileDrawer.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileStep2.vue
  src/components/lpikit/CompleteProfileDrawer/ProfileEditBlock.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: obnboardingscreens, add profile completed and take tour modal
  src/components/lpikit/BaseModal/BaseModal.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileDrawer.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileStep2.vue
  src/components/lpikit/Footer/LpiFooter.vue
  src/components/lpikit/Footer/OnboardingScreens.vue
  src/components/lpikit/WelcomeModal/ProfileCompletedModal.vue
  src/components/lpikit/WelcomeModal/TakeTourModal.vue
  src/locales/en.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: complete profile add translations, fix form loading state
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileDrawer.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileStep2.vue
  src/components/lpikit/WelcomeModal/WelcomeModal.vue
  src/locales/en.json
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove debug setting
  src/components/lpikit/Footer/OnboardingScreens.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: translation, help in drawer
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileDrawer.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: complete profile add validation, make help tabs linkable
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileDrawer.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/components/lpikit/Footer/OnboardingScreens.vue
  src/components/lpikit/WelcomeModal/ProfileCompletedModal.vue
  src/components/lpikit/WelcomeModal/TakeTourModal.vue
  src/components/lpikit/WelcomeModal/WelcomeModal.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/HelpPage/HelpPage.vue
  src/pages/HelpPage/Tabs/OnBoardingTab.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: update welcome screens with onboaring_status
  src/components/Header/LpiHeader.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileDrawer.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileStep2.vue
  src/components/lpikit/Footer/LpiFooter.vue
  src/components/lpikit/Footer/OnboardingScreens.vue
  src/components/lpikit/WelcomeModal/TakeTourModal.vue
  src/components/lpikit/WelcomeModal/WelcomeModal.vue
  src/mixins/onboardingStatusMixin.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: take tour link
  src/components/lpikit/OnboardingTodoBlock/OnboardingTodoBlock.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: upgrade vue-i18n from 9.6.5 to 9.7.0 (#146)
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: upgrade mixpanel-browser from 2.47.0 to 2.48.1 (#144)
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1343 feat:added e2e for group creation (#142)
  src/components/lpikit/GroupForm/GroupForm.vue
  src/components/lpikit/GroupForm/GroupTeamSection.vue
  src/components/lpikit/GroupForm/ParentGroupSection.vue
  src/components/lpikit/GroupForm/ProjectSection.vue
  src/components/lpikit/TeamCard/UserCardInline.vue
  src/components/peopleKit/GroupCard.vue
  src/pages/AdminPortalPage/Tabs/GroupsElementRadio.vue
  src/pages/GroupPage/GroupPage.vue
  tests/playwright/lib/createGroup.ts
  tests/playwright/lib/deleteGroup.ts
  tests/playwright/lib/index.ts
  tests/playwright/write/createGroup.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: only update onboarding status when action was fully performed
  src/components/Header/LpiHeader.vue
  src/components/lpikit/OnboardingTodoBlock/OnboardingTodoBlock.vue
  src/components/lpikit/SkillsEditDrawer/SkillsEditDrawer.vue
  src/mixins/onboardingStatusMixin.ts
  src/pages/CreateProjectPage/CreateProjectPage.vue
  src/pages/HomePage/HomePage.vue
  src/pages/ProfileEditPage/ProfileEditPage.vue
  src/pages/ProfileEditPage/Tabs/ProfileBioEditTab.vue
  src/pages/ProfileEditPage/Tabs/ProfileEditTabs.vue
  src/pages/ProfileEditPage/Tabs/ProfileGeneralEditTab.vue
  src/pages/ProfileEditPage/Tabs/ProfilePrivacyEditTab.vue
  src/pages/ProfileEditPage/Tabs/ProfileProjectsEditTab.vue
  src/pages/ProfileEditPage/Tabs/ProfileSkillsEditTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: comment out debug utility
  src/components/Header/LpiHeader.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: set defaults for onboarding env in docker
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: set defaults for onboarding env in docker (#147)
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: set defaults for onboarding env in docker inject
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: set defaults for onboarding env in docker inject (#148)
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: reverse onboarding todo init logic
  src/components/Header/LpiHeader.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileStep2.vue
  src/components/lpikit/OnboardingTodoBlock/OnboardingTodoBlock.vue
  src/components/lpikit/WelcomeModal/TakeTourModal.vue
  src/components/lpikit/WelcomeModal/WelcomeModal.vue
  src/mixins/onboardingStatusMixin.ts
  src/pages/CategoriesPage/CategoriesPage.vue
  src/pages/CreateProjectPage/CreateProjectPage.vue
  src/pages/HelpPage/HelpPage.vue
  src/pages/HomePage/HomePage.vue
  src/pages/ProfileEditPage/ProfileEditPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: reverse onboarding todo init logic (#149)
  src/components/Header/LpiHeader.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/components/lpikit/CompleteProfileDrawer/CompleteProfileStep2.vue
  src/components/lpikit/OnboardingTodoBlock/OnboardingTodoBlock.vue
  src/components/lpikit/WelcomeModal/TakeTourModal.vue
  src/components/lpikit/WelcomeModal/WelcomeModal.vue
  src/mixins/onboardingStatusMixin.ts
  src/pages/CategoriesPage/CategoriesPage.vue
  src/pages/CreateProjectPage/CreateProjectPage.vue
  src/pages/HelpPage/HelpPage.vue
  src/pages/HomePage/HomePage.vue
  src/pages/ProfileEditPage/ProfileEditPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: accounts admin make group column unsortable
  src/pages/AdminPortalPage/Tabs/AccountsTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1349-volution-du-tableau-account-dans-l-admin (#143)
  src/api/people.service.ts
  src/locales/en.json
  src/locales/fr.json
  src/pages/AdminPortalPage/AdminPortalPage.vue
  src/pages/AdminPortalPage/Tabs/AccountsTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: set a default image for new projects
  src/pages/CreateProjectPage/CreateProjectPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add search filter to categories and category page
  src/components/lpikit/SearchOptions/SearchOptions.vue
  src/components/peopleKit/Filters/FiltersDrawer.vue
  src/pages/CategoriesPage/CategoriesPage.vue
  src/pages/CategoryPage/CategoryPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: upgrade yjs from 13.6.8 to 13.6.9
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf
