Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

fix: passing env in a better way
  deployment/nginx.conf.template
  k8s/projects-frontend/templates/deployment.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: right port for backend pod
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: allow traffic from front to back for image proxy + dns (#460)
  deployment/nginx.conf.template
  k8s/projects-frontend/Chart.lock
  k8s/projects-frontend/Chart.yaml
  k8s/projects-frontend/local.test.yaml
  k8s/projects-frontend/templates/deployment.yaml
  k8s/projects-frontend/templates/network-policy.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

feat: store, api, model and analytics for private messages
  src/analytics/index.ts
  src/analytics/project-message.analytics.ts
  src/api/project-messages.service.ts
  src/components/project/comment/CommentItem.vue
  src/components/project/comment/MakeComment.vue
  src/models/project-message.model.ts
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/ProjectPage/Tabs/ProjectPrivateExchangeTab.vue
  src/store/index.ts
  src/store/modules/project-messages.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add github sha as hash for files
  .github/workflows/entrypoint-push-to-branches.yml
  Dockerfile
  vite.config.js
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add github sha as hash for files (#461)
  .github/workflows/entrypoint-push-to-branches.yml
  Dockerfile
  vite.config.js
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add github sha as hash for files (#461)
  .github/workflows/entrypoint-push-to-branches.yml
  Dockerfile
  vite.config.js
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1780-espace-d-change-priv-par-projet-front (#455)
  src/analytics/index.ts
  src/analytics/project-message.analytics.ts
  src/api/project-messages.service.ts
  src/components/project/ProjectTabs.vue
  src/components/project/comment/CommentItem.vue
  src/components/project/comment/MakeComment.vue
  src/locales/en.json
  src/locales/fr.json
  src/models/project-message.model.ts
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/ProjectPage/Tabs/ProjectCommentsTab.vue
  src/pages/ProjectPage/Tabs/ProjectPrivateExchangeTab.vue
  src/router/routes.ts
  src/store/index.ts
  src/store/modules/project-messages.ts
  tests/unit/components/project/ProjectTabs.spec.ts
  tests/unit/pages/ProjectPage/Tabs/ProjectCommentsTab.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove store for comments and project messages
  src/components/project/ProjectTabs.vue
  src/components/project/comment/CommentItem.vue
  src/components/project/comment/MakeComment.vue
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/ProjectPage/Tabs/ProjectCommentsTab.vue
  src/pages/ProjectPage/Tabs/ProjectPrivateExchangeTab.vue
  src/pages/ProjectPage/Tabs/ProjectSummaryTab.vue
  src/store/index.ts
  src/store/modules/comments.ts
  src/store/modules/project-messages.ts
  tests/unit/pages/ProjectPage/Tabs/ProjectCommentsTab.spec.ts
  tests/unit/pages/ProjectPage/Tabs/ProjectSummaryTab.spec.ts
  tests/unit/store/modules/comments.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: tidy up code
  src/components/project/comment/CommentItem.vue
  src/components/project/comment/MakeComment.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1794-supprimer-store-pour-commentaires-et-messages-priv-s (#462)
  src/components/project/ProjectTabs.vue
  src/components/project/comment/CommentItem.vue
  src/components/project/comment/MakeComment.vue
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/ProjectPage/Tabs/ProjectCommentsTab.vue
  src/pages/ProjectPage/Tabs/ProjectPrivateExchangeTab.vue
  src/pages/ProjectPage/Tabs/ProjectSummaryTab.vue
  src/store/index.ts
  src/store/modules/comments.ts
  src/store/modules/project-messages.ts
  tests/unit/pages/ProjectPage/Tabs/ProjectCommentsTab.spec.ts
  tests/unit/pages/ProjectPage/Tabs/ProjectSummaryTab.spec.ts
  tests/unit/store/modules/comments.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: adapt comment i18n to project messages
  src/components/project/comment/CommentItem.vue
  src/components/project/comment/MakeComment.vue
  src/locales/en.json
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: private message title
  src/pages/ProjectPage/Tabs/ProjectPrivateExchangeTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1796-adapter-les-message-commentaire-aux-messages-priv-s (#463)
  src/components/project/comment/CommentItem.vue
  src/components/project/comment/MakeComment.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/ProjectPage/Tabs/ProjectPrivateExchangeTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: editor color title and video in tables
  src/design/scss/editor.scss
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: editor color title and video in tables (#465)
  src/design/scss/editor.scss
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove https mentions
  deployment/nginx.conf.template
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: add upstream and headers
  deployment/nginx.conf.template
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: use https prefix
  deployment/nginx.conf.template
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: correct prefix
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: try removing headers
  deployment/nginx.conf.template
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: readd header host
  deployment/nginx.conf.template
Owners: @francois-travais, @JulienDroulez, @mohakhlf

Fix backend connection for images (#466)
  deployment/nginx.conf.template
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove locations store
  src/api/locations.services.ts
  src/components/project/ProjectTabs.vue
  src/components/project/map/LocationDrawer.vue
  src/components/project/map/LocationForm.vue
  src/components/project/map/MapRecap.vue
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/ProjectPage/Tabs/ProjectSummaryTab.vue
  src/store/index.ts
  src/store/modules/locations.ts
  src/store/modules/projects.ts
  tests/unit/store/modules/locations.spec.ts
  tests/unit/store/modules/projects.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove locations store (#467)
  src/api/locations.services.ts
  src/components/project/ProjectTabs.vue
  src/components/project/map/LocationDrawer.vue
  src/components/project/map/LocationForm.vue
  src/components/project/map/MapRecap.vue
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/ProjectPage/Tabs/ProjectSummaryTab.vue
  src/store/index.ts
  src/store/modules/locations.ts
  src/store/modules/projects.ts
  tests/unit/store/modules/locations.spec.ts
  tests/unit/store/modules/projects.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: e2e fail on extra project tabs
  src/components/base/navigation/TabsLayout.vue
  tests/playwright/lib/project/destroy.ts
  tests/playwright/lib/project/reportAbuse.ts
  tests/playwright/lib/project/reportBug.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: e2e fail on extra project tabs (#468)
  src/components/base/navigation/TabsLayout.vue
  tests/playwright/lib/project/destroy.ts
  tests/playwright/lib/project/reportAbuse.ts
  tests/playwright/lib/project/reportBug.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: e2e with extra tabs
  tests/playwright/lib/project/destroy.ts
  tests/playwright/lib/project/reportAbuse.ts
  tests/playwright/lib/project/reportBug.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: e2e with extra tabs (#469)
  tests/playwright/lib/project/destroy.ts
  tests/playwright/lib/project/reportAbuse.ts
  tests/playwright/lib/project/reportBug.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove store for announcements
  src/api/announcements.service.ts
  src/components/project/ProjectHeader.vue
  src/components/project/ProjectTabs.vue
  src/components/project/announcement/AnnouncementDrawer.vue
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/ProjectPage/Tabs/ProjectAnnouncementsTab.vue
  src/store/index.ts
  src/store/modules/announcements.ts
  src/store/modules/projects.ts
  tests/unit/store/modules/announcements.spec.ts
  tests/unit/store/modules/projects.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: e2e test issues with extra tabs
  src/components/project/ProjectTabsSkeleton.vue
  tests/playwright/lib/group/create.ts
  tests/playwright/lib/login/login.ts
  tests/playwright/lib/project/destroy.ts
  tests/playwright/lib/project/reportAbuse.ts
  tests/playwright/lib/project/reportBug.ts
  tests/playwright/write/Search.spec.ts
  tests/playwright/write/SearchForEditedProject.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: e2e test issues with extra tabs (#471)
  src/components/project/ProjectTabsSkeleton.vue
  tests/playwright/lib/group/create.ts
  tests/playwright/lib/login/login.ts
  tests/playwright/lib/project/destroy.ts
  tests/playwright/lib/project/reportAbuse.ts
  tests/playwright/lib/project/reportBug.ts
  tests/playwright/write/Search.spec.ts
  tests/playwright/write/SearchForEditedProject.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove store for announcements (#470)
  src/api/announcements.service.ts
  src/components/project/ProjectHeader.vue
  src/components/project/ProjectTabs.vue
  src/components/project/announcement/AnnouncementDrawer.vue
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/ProjectPage/Tabs/ProjectAnnouncementsTab.vue
  src/store/index.ts
  src/store/modules/announcements.ts
  src/store/modules/projects.ts
  tests/unit/store/modules/announcements.spec.ts
  tests/unit/store/modules/projects.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove store for link and file resources
  src/api/attachment-files.service.ts
  src/components/project/ProjectTabs.vue
  src/components/project/resource/ResourceDrawer.vue
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/ProjectPage/Tabs/ProjectResourcesTab.vue
  src/pages/ProjectPage/Tabs/ProjectSummaryTab.vue
  src/store/index.ts
  src/store/modules/attachment-files.ts
  src/store/modules/attachment-links.ts
  src/store/modules/projects.ts
  tests/unit/store/modules/attachment-files.spec.ts
  tests/unit/store/modules/attachment-links.spec.ts
  tests/unit/store/modules/projects.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove store for link and file resources (#472)
  src/api/attachment-files.service.ts
  src/components/project/ProjectTabs.vue
  src/components/project/resource/ResourceDrawer.vue
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/ProjectPage/Tabs/ProjectResourcesTab.vue
  src/pages/ProjectPage/Tabs/ProjectSummaryTab.vue
  src/store/index.ts
  src/store/modules/attachment-files.ts
  src/store/modules/attachment-links.ts
  src/store/modules/projects.ts
  tests/unit/store/modules/attachment-files.spec.ts
  tests/unit/store/modules/attachment-links.spec.ts
  tests/unit/store/modules/projects.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove store for blog entries
  src/components/project/ProjectTabs.vue
  src/components/project/blog/BlogDrawer.vue
  src/components/project/resource/ResourcesRecap.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/ProjectPage/Tabs/ProjectBlogEntriesTab.vue
  src/pages/ProjectPage/Tabs/ProjectSummaryTab.vue
  src/store/index.ts
  src/store/modules/blog-entries.ts
  src/store/modules/projects.ts
  tests/unit/pages/ProjectPage/Tabs/ProjectBlogEntriesTab.spec.ts
  tests/unit/store/modules/blog-entry.spec.ts
  tests/unit/store/modules/projects.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove store for blog entries (#473)
  src/components/project/ProjectTabs.vue
  src/components/project/blog/BlogDrawer.vue
  src/components/project/resource/ResourcesRecap.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/ProjectPage/Tabs/ProjectBlogEntriesTab.vue
  src/pages/ProjectPage/Tabs/ProjectSummaryTab.vue
  src/store/index.ts
  src/store/modules/blog-entries.ts
  src/store/modules/projects.ts
  tests/unit/pages/ProjectPage/Tabs/ProjectBlogEntriesTab.spec.ts
  tests/unit/store/modules/blog-entry.spec.ts
  tests/unit/store/modules/projects.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove store for follow
  src/components/project/ProjectCard.vue
  src/components/project/ProjectHeader.vue
  src/functs/followUtils.ts
  src/pages/ProfileEditPage/Tabs/ProfileProjectsEditTab.vue
  src/pages/ProjectPage/ProjectPage.vue
  src/store/index.ts
  src/store/modules/follows.ts
  src/store/modules/projects.ts
  tests/unit/store/modules/follows.spec.ts
  tests/unit/store/modules/projects.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove store for follow (#474)
  src/components/project/ProjectCard.vue
  src/components/project/ProjectHeader.vue
  src/functs/followUtils.ts
  src/pages/ProfileEditPage/Tabs/ProfileProjectsEditTab.vue
  src/pages/ProjectPage/ProjectPage.vue
  src/store/index.ts
  src/store/modules/follows.ts
  src/store/modules/projects.ts
  tests/unit/store/modules/follows.spec.ts
  tests/unit/store/modules/projects.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf
