Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf

fix: show group members count event if zero
  src/components/group/GroupCard.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: show group members count event if zero (#429)
  src/components/group/GroupCard.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: rework portal page cards
  src/pages/PortalPage/PortalPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: rework portal page cards (#430)
  src/pages/PortalPage/PortalPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: category pages dont filters on project category
  src/components/search/Filters/SearchFilters.vue
  src/components/search/SearchOptions/SearchOptions.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: category pages dont filters on project category (#431)
  src/components/search/Filters/SearchFilters.vue
  src/components/search/SearchOptions/SearchOptions.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: category tree wip
  src/components/base/button/ContextActionButton.vue
  src/components/base/button/ContextActionMenu.vue
  src/components/category/CategoryAdminElement.vue
  src/components/group/GroupsElement/GroupsElement.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/AdminPortalPage/Tabs/CategoriesTabOld.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: new version of category edit drawer wip
  src/components/base/form/RadioButton.vue
  src/components/category/CategoryDrawer.vue
  src/components/category/CategoryField.vue
  src/components/people/Account/AccountForm.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/AdminPortalPage/Tabs/CategoriesTabOld.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: sortable category tree wip
  package.json
  src/api/project-categories.service.ts
  src/components/base/media/IconImage.vue
  src/components/category/CategoryAdminElement.vue
  src/components/category/CategoryDrawer.vue
  src/components/dev/IconList/IconList.vue
  src/locales/en.json
  src/locales/fr.json
  src/models/project-category.model.ts
  src/pages/AdminPortalPage/Tabs/CategoriesTab.vue
  src/pages/AdminPortalPage/Tabs/CategoriesTabOld.vue
  src/store/modules/project-categories.ts
  tests/factories/project-category.factory.ts
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: save category tree order
  src/components/category/CategoryAdminElement.vue
  src/components/category/CategoryDrawer.vue
  src/pages/AdminPortalPage/Tabs/CategoriesTab.vue
  src/pages/AdminPortalPage/Tabs/CategoriesTabOld.vue
  src/store/modules/project-categories.ts
  tests/unit/store/modules/project-categories.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: open category on drag over and drop in empty
  src/components/category/CategoryAdminElement.vue
  src/pages/AdminPortalPage/Tabs/CategoriesTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: add drag handle
  src/components/category/CategoryAdminElement.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: use hierarchy in category pages
  src/components/category/CategoryAdminElement.vue
  src/pages/CategoriesPage/CategoriesPage.vue
  src/pages/CategoryPage/CategoryPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: use category hierarchy on home
  src/components/category/ProjectCategoriesDropdown.vue
  src/components/category/ProjectCategoriesDropdownElement.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: use category tree in project form wip
  src/components/category/ProjectCategoriesDropdown.vue
  src/components/category/ProjectCategoriesDropdownElement.vue
  src/components/category/ProjectCategoriesDropdownElementButton.vue
  src/components/category/ProjectCategoriesDropdownElementLink.vue
  src/components/project/ProjectForm.vue
  src/pages/NewHomePage/NewHomePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: bread crumb for hierarchical categories in project header
  src/components/category/ProjectCategoriesDropdownElementButton.vue
  src/components/project/ProjectHeader.vue
  src/locales/en.json
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: category picker in project settings
  src/components/category/CategoryAdminElement.vue
  src/components/category/CategoryPicker.vue
  src/components/project/ProjectHeader.vue
  src/components/project/ProjectTabs.vue
  src/pages/ProjectPage/Tabs/ProjectSettingsTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: hierarchical categories in search filter
  src/components/category/CategoryPicker.vue
  src/components/search/Filters/CategoriesFilterEditor.vue
  tests/unit/components/project/ProjectHeader.spec.ts
  tests/unit/components/search/Filters/CategoriesFilterEditor.spec.ts
  tests/unit/pages/CategoriesPage/CategoriesPage.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: deletion of category in admin tab wip
  src/components/base/button/ContextActionButton.vue
  src/components/category/CategoryAdminElement.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/AdminPortalPage/Tabs/CategoriesTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add trash bin anim
  src/components/base/button/ContextActionButton.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: close menu-tip on action trigger
  src/components/base/MenuTip.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: close menu-tip on action trigger
  src/components/base/MenuTip.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: close menu-tip on action trigger
  src/components/base/MenuTip.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: use sentry
  .github/workflows/entrypoint-push-to-branches.yml
  Dockerfile
  package.json
  src/main.ts
  vite.config.js
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: pass env variables, use new runner
  .github/workflows/entrypoint-push-to-branches.yml
  k8s/projects-frontend/secrets.shared.yaml
  k8s/projects-frontend/values.yaml
  src/main.ts
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/components/base/button/ContextActionButton.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1740-En-tant-qu-admin-je-veux-pouvoir-cr-er-des-sous-cat-gories-de-projets (#432)
  package.json
  src/api/project-categories.service.ts
  src/components/base/MenuTip.vue
  src/components/base/button/ContextActionButton.vue
  src/components/base/button/ContextActionMenu.vue
  src/components/base/form/RadioButton.vue
  src/components/base/media/IconImage.vue
  src/components/category/CategoryAdminElement.vue
  src/components/category/CategoryDrawer.vue
  src/components/category/CategoryField.vue
  src/components/category/CategoryPicker.vue
  src/components/category/ProjectCategoriesDropdown.vue
  src/components/category/ProjectCategoriesDropdownElement.vue
  src/components/category/ProjectCategoriesDropdownElementButton.vue
  src/components/category/ProjectCategoriesDropdownElementLink.vue
  src/components/dev/IconList/IconList.vue
  src/components/group/GroupsElement/GroupsElement.vue
  src/components/people/Account/AccountForm.vue
  src/components/project/ProjectForm.vue
  src/components/project/ProjectHeader.vue
  src/components/project/ProjectTabs.vue
  src/components/search/Filters/CategoriesFilterEditor.vue
  src/locales/en.json
  src/locales/fr.json
  src/models/project-category.model.ts
  src/pages/AdminPortalPage/Tabs/CategoriesTab.vue
  src/pages/CategoriesPage/CategoriesPage.vue
  src/pages/CategoryPage/CategoryPage.vue
  src/pages/NewHomePage/NewHomePage.vue
  src/pages/ProjectPage/Tabs/ProjectSettingsTab.vue
  src/store/modules/project-categories.ts
  tests/factories/project-category.factory.ts
  tests/unit/components/project/ProjectHeader.spec.ts
  tests/unit/components/search/Filters/CategoriesFilterEditor.spec.ts
  tests/unit/pages/CategoriesPage/CategoriesPage.spec.ts
  tests/unit/store/modules/project-categories.spec.ts
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: decrease ram usage
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: increase ram
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: more mem
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: lot of memories
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: a bit less ram
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: string
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add debug
  src/main.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: more debug
  src/main.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: add VITE_APP in dockerfile
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: cleanup and pass frontend environment
  .env.example
  .github/workflows/entrypoint-push-to-branches.yml
  Dockerfile
  k8s/projects-frontend/values.dev.yaml
  k8s/projects-frontend/values.prod.yaml
  k8s/projects-frontend/values.staging.yaml
  src/main.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

feat: use sentry (#433)
  .env.example
  .github/workflows/entrypoint-push-to-branches.yml
  Dockerfile
  k8s/projects-frontend/secrets.shared.yaml
  k8s/projects-frontend/values.dev.yaml
  k8s/projects-frontend/values.prod.yaml
  k8s/projects-frontend/values.staging.yaml
  k8s/projects-frontend/values.yaml
  package.json
  src/main.ts
  vite.config.js
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

feat: add e2e envir
  k8s/projects-frontend/e2e/values.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: e2e after hierarchical categories
  src/components/category/ProjectCategoriesDropdown.vue
  src/components/category/ProjectCategoriesDropdownElementButton.vue
  tests/playwright/lib/project/create.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri
