Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

fix: also wake up common apps
  k8s/projects-frontend/templates/e2e.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: also wake up common apps
  k8s/projects-frontend/templates/e2e.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: create news ssr
  src/api/news.service.ts
  src/composables/useAPI.ts
  src/pages/CreateNewsPage/CreateNewsPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: project form state
  src/pages/CreateProjectPage/CreateProjectPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: news create and edit
  src/api/instruction.service.ts
  src/api/news.service.ts
  src/components/app/AppToastList.vue
  src/pages/CreateInstructionPage/CreateInstructionPage.vue
  src/pages/InstructionListPage/InstructionListPage.vue
  src/pages/InstructionPage/InstructionPage.vue
  src/pages/NewsListPage/NewsListPage.vue
  src/pages/NewsPage/NewsPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: image editor and project header
  src/api/projects.service.ts
  src/components/base/form/ImageEditor.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: instruction page
  src/pages/InstructionPage/InstructionPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: create event ssr
  src/api/event.service.ts
  src/pages/CreateEventPage/CreateEventPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: admin page ssr
  src/components/admin/DefaultTagsAdmin.vue
  src/components/admin/GeneralAdminBlocks/Events/EventAdminBlock.vue
  src/components/admin/GeneralAdminBlocks/Events/EventAdminListItem.vue
  src/pages/AdminPortalPage/AdminPortalPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: login page ssr
  src/pages/LoginPage/LoginPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: register page ssr
  src/functs/functions.ts
  src/pages/RegisterPage/RegisterPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: removed dot nuxt commited files
  .nuxt/app.config.mjs
  .nuxt/components.d.ts
  .nuxt/imports.d.ts
  .nuxt/nuxt.d.ts
  .nuxt/schema/nuxt.schema.d.ts
  .nuxt/schema/nuxt.schema.json
  .nuxt/tsconfig.json
  .nuxt/tsconfig.server.json
  .nuxt/types/app-defaults.d.ts
  .nuxt/types/app.config.d.ts
  .nuxt/types/build.d.ts
  .nuxt/types/builder-env.d.ts
  .nuxt/types/imports.d.ts
  .nuxt/types/layouts.d.ts
  .nuxt/types/middleware.d.ts
  .nuxt/types/nitro-config.d.ts
  .nuxt/types/nitro-imports.d.ts
  .nuxt/types/nitro-nuxt.d.ts
  .nuxt/types/nitro-routes.d.ts
  .nuxt/types/nitro.d.ts
  .nuxt/types/plugins.d.ts
  .nuxt/types/schema.d.ts
  .nuxt/types/vue-shim.d.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: public binaries prefix
  .nuxt/types/schema.d.ts
  nuxt.config.ts
  src/components/group/GroupForm/GroupForm.vue
  src/components/home/HomeNewsfeed/NewsfeedAnnouncementsItem.vue
  src/components/news/NewsForm/NewsForm.vue
  src/components/people/Account/AccountInfos.vue
  src/components/people/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/components/project/ProjectForm.vue
  src/components/project/announcement/AnnouncementCard.vue
  src/functs/functions.ts
  src/mixins/imageMixin.ts
  src/pages/RegisterPage/RegisterPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: add pinia nuxt module
  .nuxt/imports.d.ts
  .nuxt/manifest/meta/8d6c0525-1eaa-4555-bf89-48e0fd43e0c0.json
  .nuxt/tsconfig.json
  .nuxt/types/imports.d.ts
  nuxt.config.ts
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: use fetch instead of usefetch
  src/api/announcements.service.ts
  src/api/attachment-files.service.ts
  src/api/attachment-links.service.ts
  src/api/auth/auth.service.ts
  src/api/auth/cookie.service.ts
  src/api/blogentries.service.ts
  src/api/comments.service.ts
  src/api/event.service.ts
  src/api/faqs.service.ts
  src/api/follows.service.ts
  src/api/goals.service.ts
  src/api/google.service.ts
  src/api/groups.service.ts
  src/api/instruction.service.ts
  src/api/invitations.service.ts
  src/api/locations.services.ts
  src/api/news.service.ts
  src/api/newsfeed.service.ts
  src/api/notifications.service.ts
  src/api/organization-tags.service.ts
  src/api/organizations.service.ts
  src/api/people.service.ts
  src/api/project-categories.service.ts
  src/api/project-members.service.ts
  src/api/project-messages.service.ts
  src/api/projects.service.ts
  src/api/recommendations.service.ts
  src/api/report.service.ts
  src/api/reviews.service.ts
  src/api/search.service.ts
  src/api/skill.service.ts
  src/api/stats.service.ts
  src/api/tag-classification.service.ts
  src/api/templates.service.ts
  src/api/welearn.service.ts
  src/composables/useAPI.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: remove old vite config an i18n, fix composable issues
  src/analytics/goal.analytic.ts
  src/api/auth/keycloak.ts
  src/app/initApp.ts
  src/composables/useAPI.ts
  src/locales/i18n.ts
  tests/unit/components/App.spec.ts
  tests/unit/components/base/loader/LpiLoader.spec.ts
  tests/unit/components/onboarding/WelcomeModal/WelcomeModal.spec.ts
  tests/unit/components/people/CompleteProfileDrawer/CompleteProfileStep2.spec.ts
  tests/unit/components/people/UserCard.spec.ts
  tests/unit/components/people/UserProfile.spec.ts
  tests/unit/components/project/ProjectCard.spec.ts
  tests/unit/components/project/blog/BlogDrawer.spec.ts
  tests/unit/components/project/description/DescriptionDrawer.spec.ts
  tests/unit/pages/GroupPage/GroupPageInner.spec.ts
  tests/unit/pages/GroupPage/Tabs/GroupMembersTab.spec.ts
  tests/unit/pages/GroupPage/Tabs/GroupProjectsTab.spec.ts
  tests/unit/pages/GroupPage/Tabs/GroupSnapshotTab.spec.ts
  tests/unit/pages/NewHomePage/NewHomePage.spec.ts
  tests/unit/pages/NewHomePage/Newsfeed.spec.ts
  tests/unit/pages/NewHomePage/RecommendationsBlock.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileBioTab.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileGroupsTab.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileProjectTab.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileSkillTab.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileSummaryTab.spec.ts
  vite.config.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: migrate reamaining env variable
  .env.example
  Dockerfile
  Dockerfile.dev
  docker-compose.yml
  i18n.config.ts
  nuxt.config.ts
  src/app/initLanguage.ts
  src/app/initSentry.ts
  src/app/router.options.ts
  src/components/app/LpiFooter.vue
  src/components/base/form/TextEditor/TipTapCollaborativeEditor.vue
  src/components/base/form/TextEditor/modals/EditorModalImage.vue
  src/components/people/CompleteProfileDrawer/CompleteProfileDrawer.vue
  src/components/people/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/components/project/announcement/ReplyAnnouncementDrawer.vue
  src/pages/HelpPage/Tabs/HelpTab.vue
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/ProjectPage/Tabs/ProjectBlogEntriesTab.vue
  src/stores/useLanguages.ts
  src/views/DiscoverPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

fix: i18n init and switch
  src/app/initLanguage.ts
  src/main.ts
  src/stores/useLanguages.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: use i18n errors in pinia and keycloak
  src/api/auth/keycloak.ts
  src/stores/useLanguages.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: various other broken files
  k8s/projects-frontend/e2e/secrets.dev.yaml
  k8s/projects-frontend/e2e/values.dev.yaml
  k8s/projects-frontend/secrets.dev.yaml
  k8s/projects-frontend/secrets.prod.yaml
  k8s/projects-frontend/secrets.staging.yaml
  k8s/projects-frontend/values.dev.yaml
  k8s/projects-frontend/values.prod.yaml
  k8s/projects-frontend/values.staging.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: replace in missing files
  src/analytics/analytics.ts
  src/app/initSentry.ts
  src/router/routes.ts
  src/views/AboutPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: change prefix in all infra files
  k8s/projects-frontend/e2e/values.dev.yaml
  k8s/projects-frontend/secrets.dev.yaml
  k8s/projects-frontend/secrets.prod.yaml
  k8s/projects-frontend/secrets.staging.yaml
  k8s/projects-frontend/values.dev.yaml
  k8s/projects-frontend/values.prod.yaml
  k8s/projects-frontend/values.staging.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: unit tests and app init
  .vitest/mockUseAPI.ts
  alias.ts
  nuxt.config.ts
  package.json
  src/api/auth/keycloak.ts
  src/app.vue
  src/plugins/appInit.ts
  tests/unit/api/auth/auth.service.spec.ts
  tests/unit/api/auth/keycloak.spec.ts
  tests/unit/components/App.spec.ts
  tests/unit/components/admin/ClassificationAdmin.spec.ts
  tests/unit/components/app/LpiHeader.spec.ts
  tests/unit/components/base/navigation/TabsLayout.spec.ts
  tests/unit/pages/AdminPortalPage/Tabs/LinkCreateTab.spec.ts
  vitest.config.js
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: stop passing env from build stage
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: add dockerfile
  .gitignore
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

fix: css lint
  package.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: indent in yaml
  k8s/projects-frontend/values.dev.yaml
  k8s/projects-frontend/values.prod.yaml
  k8s/projects-frontend/values.staging.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: mixpanel init
  nuxt.config.ts
  src/analytics/analytics.ts
  src/components/base/form/TextEditor/TipTapCollaborativeEditor.vue
  src/stores/useProjectCategories.ts
  src/views/AboutPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: html template and loader
  index.html
  src/app.vue
  src/server/plugins/html.render.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: update config
  k8s/projects-frontend/Chart.lock
  k8s/projects-frontend/Chart.yaml
  k8s/projects-frontend/templates/config.yaml
  k8s/projects-frontend/templates/deployment.yaml
  k8s/projects-frontend/templates/environment-configmap.yaml
  k8s/projects-frontend/templates/environment-secret.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: post rebase on mentorship fixes
  package.json
  src/api/auth/keycloak.ts
  src/api/mentorship.service.ts
  src/api/people.service.ts
  src/app/router.options.ts
  tests/unit/components/people/skill/SkillSteps.spec.ts
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: ssr project page when logged in
  src/composables/useAPI.ts
  src/pages/ProjectPage/ProjectPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: re-update secrets dev
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: groups page ssr and setup script
  src/pages/CategoriesPage/CategoriesPage.vue
  src/pages/GroupsPage/GroupsPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: static legal pages ssr
  src/composables/useLpiHead.ts
  src/pages/AccessibilityPage/AccessibilityPage.vue
  src/pages/CookiesPage/CookiesPage.vue
  src/pages/LegalNoticesPage/LegalNoticesPage.vue
  src/pages/PersonalDataPage/PersonalDataPage.vue
  src/pages/TermsOfServicePage/TermsOfServicePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: news pages ssr and setup script
  src/pages/InstructionPage/InstructionPage.vue
  src/pages/NewsListPage/NewsListPage.vue
  src/pages/NewsPage/NewsPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: group page ssr and setup script
  src/components/group/GroupHeader/GroupHeader.vue
  src/components/group/GroupPageInner.vue
  src/pages/GroupPage/GroupPage.vue
  tests/unit/pages/GroupPage/GroupPageInner.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: error with mentorship services
  src/api/mentorship.service.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: search page ssr
  src/composables/useOnboardingStatus.ts
  src/pages/CategoryPage/CategoryPage.vue
  src/pages/SearchPage/SearchPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: categorypage ssr and setup script
  src/pages/CategoryPage/CategoryPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf
