Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf

feat: rework profile skill page for mentorship
  src/components/people/skill/MentorshipContactDrawer.vue
  src/components/people/skill/SkillItemFull.vue
  src/components/people/skill/SkillSteps.vue
  src/components/people/skill/UserSkillsFull.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/UserProfilePage/Tabs/ProfileSkillTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: separate mentorship form and add it to skill choose drawer
  src/components/people/skill/EditMentorshipDrawer.vue
  src/components/people/skill/MentorshipForm.vue
  src/components/people/skill/SkillEditor.vue
  src/components/people/skill/SkillItemFull.vue
  src/components/people/skill/SkillsEditDrawer.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: plug mentorship contact form to backend
  src/api/skill.service.ts
  src/components/people/skill/MentorshipContactDrawer.vue
  src/components/people/skill/SkillItemFull.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: html in skill mentorship comment and new lines
  src/components/people/skill/SkillItemFull.vue
  src/components/people/skill/UserSkillsFull.vue
  src/pages/UserProfilePage/Tabs/ProfileSkillTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: prefill mail in mentorship drawer
  src/components/people/skill/MentorshipContactDrawer.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add back to profile button and make others profile routable
  src/components/people/UserProfile.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/ProfileEditPage/Tabs/ProfileBioEditTab.vue
  src/pages/ProfileEditPage/Tabs/ProfileSkillsEditTab.vue
  src/pages/UserProfilePage/Tabs/ProfileBioTab.vue
  src/pages/UserProfilePage/Tabs/ProfileSkillTab.vue
  src/pages/UserProfilePage/Tabs/ProfileSummaryTab.vue
  src/pages/UserProfilePage/Tabs/ProfileTabs.vue
  src/pages/UserProfilePage/UserProfilePage.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: unit test
  tests/unit/components/people/skill/SkillSteps.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add need login to mentorship buttons
  src/components/base/NeedLoginToolTip.vue
  src/components/people/skill/SkillItemFull.vue
  src/locales/en.json
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: respond mentorship offer and demand and sent message notice
  src/components/base/NeedLoginToolTip.vue
  src/components/people/skill/SkillItemFull.vue
  src/components/people/skill/UserSkillsFull.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/MentorshipRespondPage/MentorshipRespondPage.vue
  src/pages/UserProfilePage/Tabs/ProfileSkillTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: gitignore for nuxt leftovers
  .gitignore
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: skill display and edit on mobile
  src/components/people/skill/SkillEditor.vue
  src/components/people/skill/SkillItemFull.vue
  src/components/people/skill/UserSkillsFull.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/ProfileEditPage/Tabs/ProfileSkillsEditTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: rework skill edit page for mentorship
  src/components/base/ToolTip.vue
  src/components/base/button/LpiButton.vue
  src/components/people/skill/EditMentorshipDrawer.vue
  src/components/people/skill/SkillEditor.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/ProfileEditPage/ProfileEditPage.vue
  src/pages/ProfileEditPage/Tabs/ProfileSkillsEditTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: plug api and check for already made demand and offer
  src/api/mentorship.service.ts
  src/api/skill.service.ts
  src/components/people/skill/MentorshipContactDrawer.vue
  src/components/people/skill/SkillItemFull.vue
  src/components/people/skill/UserSkillsFull.vue
  src/pages/MentorshipRespondPage/MentorshipRespondPage.vue
  src/pages/UserProfilePage/Tabs/ProfileSkillTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: mentorship action reactivity
  .env.nuxt
  src/components/people/skill/MentorshipContactDrawer.vue
  src/components/people/skill/SkillItemFull.vue
  src/components/people/skill/UserSkillsFull.vue
  src/pages/UserProfilePage/Tabs/ProfileSkillTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove custom help admin and page
  src/pages/AdminPortalPage/AdminPortalPage.vue
  src/pages/HelpPage/HelpPage.vue
  src/pages/HelpPage/Tabs/OnBoardingTab.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1977-r-impl-menter-le-mentorat (#606)
  .env.nuxt
  .gitignore
  src/api/mentorship.service.ts
  src/components/base/NeedLoginToolTip.vue
  src/components/base/ToolTip.vue
  src/components/base/button/LpiButton.vue
  src/components/people/UserProfile.vue
  src/components/people/skill/EditMentorshipDrawer.vue
  src/components/people/skill/MentorshipContactDrawer.vue
  src/components/people/skill/MentorshipForm.vue
  src/components/people/skill/SkillEditor.vue
  src/components/people/skill/SkillItemFull.vue
  src/components/people/skill/SkillSteps.vue
  src/components/people/skill/SkillsEditDrawer.vue
  src/components/people/skill/UserSkillsFull.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/AdminPortalPage/AdminPortalPage.vue
  src/pages/HelpPage/HelpPage.vue
  src/pages/HelpPage/Tabs/OnBoardingTab.vue
  src/pages/MentorshipRespondPage/MentorshipRespondPage.vue
  src/pages/ProfileEditPage/ProfileEditPage.vue
  src/pages/ProfileEditPage/Tabs/ProfileBioEditTab.vue
  src/pages/ProfileEditPage/Tabs/ProfileSkillsEditTab.vue
  src/pages/UserProfilePage/Tabs/ProfileBioTab.vue
  src/pages/UserProfilePage/Tabs/ProfileSkillTab.vue
  src/pages/UserProfilePage/Tabs/ProfileSummaryTab.vue
  src/pages/UserProfilePage/Tabs/ProfileTabs.vue
  src/pages/UserProfilePage/UserProfilePage.vue
  src/router/routes.ts
  tests/unit/components/people/skill/SkillSteps.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileSkillTab.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: nuxt env
  .env.nuxt
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: gitignore
  .gitignore
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: rotate e2e secrets
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: annoucement and goal drawer on small screen
  .env.nuxt
  .gitignore
  src/components/project/announcement/ReplyAnnouncementDrawer.vue
  src/components/project/goal/GoalDrawer.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: rotate e2e secrets (#635)
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: annoucement and goal drawer on small screen (#636)
  .env.nuxt
  .gitignore
  src/components/project/announcement/ReplyAnnouncementDrawer.vue
  src/components/project/goal/GoalDrawer.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: kc secrets + mp
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: add pinia nuxt module
  .nuxt/imports.d.ts
  .nuxt/manifest/meta/8d6c0525-1eaa-4555-bf89-48e0fd43e0c0.json
  .nuxt/tsconfig.json
  .nuxt/types/imports.d.ts
  nuxt.config.ts
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: public binaries prefix
  .nuxt/types/schema.d.ts
  nuxt.config.ts
  src/components/group/GroupForm/GroupForm.vue
  src/components/home/HomeNewsfeed/NewsfeedAnnouncementsItem.vue
  src/components/news/NewsForm/NewsForm.vue
  src/components/people/Account/AccountInfos.vue
  src/components/people/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/components/project/ProjectForm.vue
  src/components/project/announcement/AnnouncementCard.vue
  src/functs/functions.ts
  src/mixins/imageMixin.ts
  src/pages/RegisterPage/RegisterPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: i18n init and switch
  src/app/initLanguage.ts
  src/main.ts
  src/stores/useLanguages.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: use fetch instead of usefetch
  src/api/announcements.service.ts
  src/api/attachment-files.service.ts
  src/api/attachment-links.service.ts
  src/api/auth/auth.service.ts
  src/api/auth/cookie.service.ts
  src/api/blogentries.service.ts
  src/api/comments.service.ts
  src/api/event.service.ts
  src/api/faqs.service.ts
  src/api/follows.service.ts
  src/api/goals.service.ts
  src/api/google.service.ts
  src/api/groups.service.ts
  src/api/instruction.service.ts
  src/api/invitations.service.ts
  src/api/locations.services.ts
  src/api/news.service.ts
  src/api/newsfeed.service.ts
  src/api/notifications.service.ts
  src/api/organization-tags.service.ts
  src/api/organizations.service.ts
  src/api/people.service.ts
  src/api/project-categories.service.ts
  src/api/project-members.service.ts
  src/api/project-messages.service.ts
  src/api/projects.service.ts
  src/api/recommendations.service.ts
  src/api/report.service.ts
  src/api/reviews.service.ts
  src/api/search.service.ts
  src/api/skill.service.ts
  src/api/stats.service.ts
  src/api/tag-classification.service.ts
  src/api/templates.service.ts
  src/api/welearn.service.ts
  src/composables/useAPI.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: removed dot nuxt commited files
  .nuxt/app.config.mjs
  .nuxt/components.d.ts
  .nuxt/imports.d.ts
  .nuxt/nuxt.d.ts
  .nuxt/schema/nuxt.schema.d.ts
  .nuxt/schema/nuxt.schema.json
  .nuxt/tsconfig.json
  .nuxt/tsconfig.server.json
  .nuxt/types/app-defaults.d.ts
  .nuxt/types/app.config.d.ts
  .nuxt/types/build.d.ts
  .nuxt/types/builder-env.d.ts
  .nuxt/types/imports.d.ts
  .nuxt/types/layouts.d.ts
  .nuxt/types/middleware.d.ts
  .nuxt/types/nitro-config.d.ts
  .nuxt/types/nitro-imports.d.ts
  .nuxt/types/nitro-nuxt.d.ts
  .nuxt/types/nitro-routes.d.ts
  .nuxt/types/nitro.d.ts
  .nuxt/types/plugins.d.ts
  .nuxt/types/schema.d.ts
  .nuxt/types/vue-shim.d.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: remove old vite config an i18n, fix composable issues
  src/analytics/goal.analytic.ts
  src/api/auth/keycloak.ts
  src/app/initApp.ts
  src/composables/useAPI.ts
  src/locales/i18n.ts
  tests/unit/components/App.spec.ts
  tests/unit/components/base/loader/LpiLoader.spec.ts
  tests/unit/components/onboarding/WelcomeModal/WelcomeModal.spec.ts
  tests/unit/components/people/CompleteProfileDrawer/CompleteProfileStep2.spec.ts
  tests/unit/components/people/UserCard.spec.ts
  tests/unit/components/people/UserProfile.spec.ts
  tests/unit/components/project/ProjectCard.spec.ts
  tests/unit/components/project/blog/BlogDrawer.spec.ts
  tests/unit/components/project/description/DescriptionDrawer.spec.ts
  tests/unit/pages/GroupPage/GroupPageInner.spec.ts
  tests/unit/pages/GroupPage/Tabs/GroupMembersTab.spec.ts
  tests/unit/pages/GroupPage/Tabs/GroupProjectsTab.spec.ts
  tests/unit/pages/GroupPage/Tabs/GroupSnapshotTab.spec.ts
  tests/unit/pages/NewHomePage/NewHomePage.spec.ts
  tests/unit/pages/NewHomePage/Newsfeed.spec.ts
  tests/unit/pages/NewHomePage/RecommendationsBlock.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileBioTab.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileGroupsTab.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileProjectTab.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileSkillTab.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileSummaryTab.spec.ts
  vite.config.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: migrate reamaining env variable
  .env.example
  Dockerfile
  Dockerfile.dev
  docker-compose.yml
  i18n.config.ts
  nuxt.config.ts
  src/app/initLanguage.ts
  src/app/initSentry.ts
  src/app/router.options.ts
  src/components/app/LpiFooter.vue
  src/components/base/form/TextEditor/TipTapCollaborativeEditor.vue
  src/components/base/form/TextEditor/modals/EditorModalImage.vue
  src/components/people/CompleteProfileDrawer/CompleteProfileDrawer.vue
  src/components/people/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/components/project/announcement/ReplyAnnouncementDrawer.vue
  src/pages/HelpPage/Tabs/HelpTab.vue
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/ProjectPage/Tabs/ProjectBlogEntriesTab.vue
  src/stores/useLanguages.ts
  src/views/DiscoverPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

fix: unit tests and app init
  .vitest/mockUseAPI.ts
  alias.ts
  nuxt.config.ts
  package.json
  src/api/auth/keycloak.ts
  src/app.vue
  src/plugins/appInit.ts
  tests/unit/api/auth/auth.service.spec.ts
  tests/unit/api/auth/keycloak.spec.ts
  tests/unit/components/App.spec.ts
  tests/unit/components/admin/ClassificationAdmin.spec.ts
  tests/unit/components/app/LpiHeader.spec.ts
  tests/unit/components/base/navigation/TabsLayout.spec.ts
  tests/unit/pages/AdminPortalPage/Tabs/LinkCreateTab.spec.ts
  vitest.config.js
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: stop passing env from build stage
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: html template and loader
  index.html
  src/app.vue
  src/server/plugins/html.render.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: use i18n errors in pinia and keycloak
  src/api/auth/keycloak.ts
  src/stores/useLanguages.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: replace in missing files
  src/analytics/analytics.ts
  src/app/initSentry.ts
  src/router/routes.ts
  src/views/AboutPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: css lint
  package.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: mixpanel init
  nuxt.config.ts
  src/analytics/analytics.ts
  src/components/base/form/TextEditor/TipTapCollaborativeEditor.vue
  src/stores/useProjectCategories.ts
  src/views/AboutPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: indent in yaml
  k8s/projects-frontend/values.dev.yaml
  k8s/projects-frontend/values.prod.yaml
  k8s/projects-frontend/values.staging.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: change prefix in all infra files
  k8s/projects-frontend/e2e/values.dev.yaml
  k8s/projects-frontend/secrets.dev.yaml
  k8s/projects-frontend/secrets.prod.yaml
  k8s/projects-frontend/secrets.staging.yaml
  k8s/projects-frontend/values.dev.yaml
  k8s/projects-frontend/values.prod.yaml
  k8s/projects-frontend/values.staging.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: update config
  k8s/projects-frontend/Chart.lock
  k8s/projects-frontend/Chart.yaml
  k8s/projects-frontend/templates/config.yaml
  k8s/projects-frontend/templates/deployment.yaml
  k8s/projects-frontend/templates/environment-configmap.yaml
  k8s/projects-frontend/templates/environment-secret.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri
