Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

cleanup form vuevalidate
  src/api/goals.service.ts
  src/api/invitations.service.ts
  src/api/mentorship.service.ts
  src/components/admin/GeneralAdminBlocks/Events/EventAdminBlock.vue
  src/components/admin/GeneralAdminBlocks/Instructions/InstructionAdminBlock.vue
  src/components/admin/GeneralAdminBlocks/News/NewsAdminBlock.vue
  src/components/group/GroupForm/GroupDescriptionDrawer.vue
  src/components/instruction/InstructionForm/InstructionForm.vue
  src/components/people/Account/AccountInfos.vue
  src/components/people/skill/MentorshipContactDrawer.vue
  src/components/project/goal/GoalDrawer.vue
  src/form/goal.ts
  src/form/instruction.ts
  src/form/mentorship.ts
  src/models/goal.model.ts
  src/models/instruction.model.ts
  src/models/invitation.model.ts
  src/models/mentoring.model.ts
  src/models/project.model.ts
  src/models/template.model.ts
  src/models/types.ts
  src/pages/AdminPortalPageV2/Tabs/SettingsTab.vue
  src/pages/CreateInstructionPage/CreateInstructionPage.vue
  src/pages/ProjectPageV2/Tabs/ProjectGoalsTab.vue
  src/pages/RegisterPage/RegisterPage.vue
  src/skeletons/instructions.skeletons.ts
  tests/factories/goal.factory.ts
  tests/factories/instruction.factory.ts
  tests/factories/project.factory.ts
  tests/unit/pages/RegisterPage/RegisterPage.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: chatbot drawer conversation reset (#996)
  src/components/app/ChatBotDrawer.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

test: fix template factory
  tests/factories/template.factory.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: image default in settings admin
  src/api/organizations.service.ts
  src/components/admin/GeneralAdminBlocks/Pictures/BannerAdminBlock.vue
  src/components/admin/GeneralAdminBlocks/Pictures/LogoAdminBlock.vue
  src/components/base/form/ImageEditor.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: form contacts
  src/components/app/ContactDrawer.vue
  src/components/app/ReportDrawer.vue
  src/form/contact.ts
  src/pages/AdminPortalPageV2/Tabs/SettingsTab.vue
  src/pages/RegisterPage/RegisterPage.vue
  src/pages/RequestAccessPage/RequestAccessPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: multiple chatbots poc
  .env.sample
  .gitignore
  k8s/projects-frontend/values.dev.yaml
  k8s/projects-frontend/values.yaml
  nuxt.config.ts
  package.json
  prisma-chatbot-db/prisma-config.ts
  prisma-chatbot-db/schema.prisma
  src/app/router.options.ts
  src/components/app/ChatBotDrawer.vue
  src/components/app/Chatbot.vue
  src/pages/Chatbot/ChatbotPage.vue
  src/server/plugins/chatbot-prsima.ts
  src/server/routes/api/agents/chat.ts
  src/server/routes/api/agents/get.get.ts
  src/server/utils/prisma-chatbots.ts
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: skills and tools and agent options
  prisma-chatbot-db/schema.prisma
  src/components/app/ChatBotDrawer.vue
  src/components/app/Chatbot.vue
  src/components/app/ChatbotOptions.vue
  src/composables/useChatbotContext.ts
  src/pages/Chatbot/ChatbotPage.vue
  src/server/routes/api/agents/chat.ts
  src/server/routes/api/agents/get.get.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add vector store documents to agents
  prisma-chatbot-db/schema.prisma
  src/components/agents/agent-admin/AgentAdminForm.vue
  src/components/agents/agent-admin/AgentDocumentPicker.vue
  src/composables/useVectorStore.ts
  src/server/routes/api/agent/[id].get.ts
  src/server/routes/api/agent/[id].put.ts
  src/server/routes/api/agent/index.get.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: agent admin frontend wip
  src/app/useAdminPagesRoutes.ts
  src/components/agents/agent-admin/AgentAdminForm.vue
  src/components/agents/agent-admin/AgentAdminList.vue
  src/components/agents/agent-admin/AgentAdminShow.vue
  src/components/agents/entity-admin/EntityAdminForm.vue
  src/components/agents/entity-admin/EntityAdminList.vue
  src/components/agents/entity-admin/EntityAdminShow.vue
  src/components/agents/vector-store/VectorStoreDocumentList.vue
  src/components/agents/vector-store/VectorStoreDocumentShow.vue
  src/components/agents/vector-store/VectorStoreIngestionForm.vue
  src/composables/useLpiHead.ts
  src/pages/AdminPortalPageV2/AdminPortalPage.vue
  src/pages/AdminPortalPageV2/Tabs/AgentsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/McpsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/PromptsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/SkillsAdminTab.vue
  src/pages/Chatbot/ChatbotPage.vue
  src/server/routes/api/agent/[id].get.ts
  src/server/routes/api/agent/chat.ts
  src/server/routes/api/agent/index.get.ts
  src/server/routes/api/prompt/[id].get.ts
  src/server/routes/api/prompt/index.get.ts
  src/server/routes/api/skill/[id].get.ts
  src/server/routes/api/skill/index.get.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: agent frontends
  src/app/router.options.ts
  src/components/agents/agent-admin/AgentAdminList.vue
  src/components/agents/agent-admin/AgentAdminShow.vue
  src/components/agents/entity-admin/EntityAdminList.vue
  src/components/agents/prompt-admin/PromptAdminList.vue
  src/components/agents/skill-admin/SkillAdminList.vue
  src/pages/Chatbot/ChatbotPage.vue
  src/server/routes/api/agent/[id].get.ts
  src/server/routes/api/prompt/index.get.ts
  src/server/routes/api/skill/index.get.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: agent isenabled and uselastskillversion
  prisma-chatbot-db/schema.prisma
  src/components/agents/agent-admin/AgentAdminForm.vue
  src/components/agents/agent-admin/AgentAdminList.vue
  src/components/agents/agent-admin/AgentSkillPicker.vue
  src/pages/AdminPortalPageV2/Tabs/AgentSkillsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/AgentsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/PromptsAdminTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: agent admin frontend wip
  src/components/agents/agent-admin/AgentAdminForm.vue
  src/pages/AdminPortalPageV2/Tabs/AgentsAdminTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: agent authn and chat and entetiy delete
  src/components/agents/agent-admin/AgentAdminForm.vue
  src/components/agents/agent-admin/AgentAdminList.vue
  src/components/agents/agent-admin/AgentSkillPicker.vue
  src/components/agents/prompt-admin/PromptAdminForm.vue
  src/components/agents/prompt-admin/PromptAdminList.vue
  src/components/agents/skill-admin/SkillAdminForm.vue
  src/components/agents/skill-admin/SkillAdminList.vue
  src/components/base/form/TextInput.vue
  src/pages/AdminPortalPageV2/Tabs/AgentSkillsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/AgentsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/PromptsAdminTab.vue
  src/pages/Chatbot/ChatbotPage.vue
  src/server/routes/api/agent/[id].delete.ts
  src/server/routes/api/agent/[id].get.ts
  src/server/routes/api/agent/chat.ts
  src/server/routes/api/agent/index.get.ts
  src/server/routes/api/agent/index.post.ts
  src/server/routes/api/prompt/[id].delete.ts
  src/server/routes/api/prompt/[id].get.ts
  src/server/routes/api/prompt/[id].put.ts
  src/server/routes/api/prompt/index.get.ts
  src/server/routes/api/prompt/index.post.ts
  src/server/routes/api/skill/[id].delete.ts
  src/server/routes/api/skill/[id].get.ts
  src/server/routes/api/skill/[id].put.ts
  src/server/routes/api/skill/index.get.ts
  src/server/routes/api/skill/index.post.ts
  src/server/routes/api/vector-store/delete.delete.ts
  src/server/routes/api/vector-store/get.get.ts
  src/server/routes/api/vector-store/ingest.post.ts
  src/server/routes/api/vector-store/list.get.ts
  src/server/utils/check-super-admin-rights.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: add model parameters to agents
  prisma-chatbot-db/schema.prisma
  src/components/agents/agent-admin/AgentAdminForm.vue
  src/components/agents/agent-admin/AgentDocumentPicker.vue
  src/components/agents/vector-store/VectorStoreDocumentList.vue
  src/composables/useVectorStore.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: agents frontend prompts and skills
  prisma-chatbot-db/schema.prisma
  src/app/useAdminPagesRoutes.ts
  src/components/agents/agent-admin/AgentAdminForm.vue
  src/components/agents/agent-admin/AgentSkillPicker.vue
  src/components/agents/entity-admin/EntityAdminList.vue
  src/components/agents/prompt-admin/PromptAdminForm.vue
  src/components/agents/prompt-admin/PromptAdminList.vue
  src/components/agents/prompt-admin/PromptAdminShow.vue
  src/components/agents/skill-admin/SkillAdminForm.vue
  src/components/agents/skill-admin/SkillAdminList.vue
  src/components/agents/skill-admin/SkillAdminShow.vue
  src/pages/AdminPortalPageV2/AdminPortalPage.vue
  src/pages/AdminPortalPageV2/Tabs/AgentSkillsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/AgentsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/PromptsAdminTab.vue
  src/server/routes/api/agent/[id].put.ts
  src/server/routes/api/agent/index.get.ts
  src/server/routes/api/agent/index.post.ts
  src/server/routes/api/prompt/[id].get.ts
  src/server/routes/api/prompt/[id].put.ts
  src/server/routes/api/prompt/index.get.ts
  src/server/routes/api/prompt/index.post.ts
  src/server/routes/api/skill/[id].get.ts
  src/server/routes/api/skill/[id].put.ts
  src/server/routes/api/skill/index.get.ts
  src/server/routes/api/skill/index.post.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: add projects mcp option to agents
  src/server/routes/api/agents/chat.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: add agent slug and missing i18n strings
  package.json
  prisma-chatbot-db/schema.prisma
  src/app/router.options.ts
  src/components/agents/agent-admin/AgentAdminForm.vue
  src/components/agents/agent-admin/AgentAdminList.vue
  src/components/agents/prompt-admin/PromptAdminForm.vue
  src/components/agents/prompt-admin/PromptAdminList.vue
  src/components/agents/skill-admin/SkillAdminForm.vue
  src/components/agents/skill-admin/SkillAdminList.vue
  src/i18n/locales/ca.json
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/et.json
  src/i18n/locales/fr.json
  src/i18n/locales/nl.json
  src/pages/AdminPortalPageV2/Tabs/AgentSkillsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/AgentsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/PromptsAdminTab.vue
  src/pages/Chatbot/ChatbotPage.vue
  src/server/routes/api/agent/[id].put.ts
  src/server/routes/api/agent/index.post.ts
  src/server/routes/api/chatbot/[slug].get.ts
  src/server/routes/api/chatbot/chat.ts
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: i18n and agent description as tiptap field
  src/components/agents/agent-admin/AgentAdminForm.vue
  src/components/agents/agent-admin/AgentSkillPicker.vue
  src/components/agents/prompt-admin/PromptAdminForm.vue
  src/components/agents/skill-admin/SkillAdminForm.vue
  src/i18n/locales/ca.json
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/et.json
  src/i18n/locales/fr.json
  src/i18n/locales/nl.json
  src/pages/AdminPortalPageV2/Tabs/AgentSkillsAdminTab.vue
  src/pages/Chatbot/ChatbotPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/components/agents/agent-admin/AgentAdminForm.vue
  src/components/agents/agent-admin/AgentAdminList.vue
  src/components/agents/agent-admin/AgentDocumentPicker.vue
  src/components/agents/agent-admin/AgentSkillPicker.vue
  src/components/agents/entity-admin/EntityAdminForm.vue
  src/components/agents/entity-admin/EntityAdminList.vue
  src/components/agents/prompt-admin/PromptAdminForm.vue
  src/components/agents/prompt-admin/PromptAdminList.vue
  src/components/agents/skill-admin/SkillAdminForm.vue
  src/components/agents/skill-admin/SkillAdminList.vue
  src/components/app/ChatBotDrawer.vue
  src/components/app/ChatbotOptions.vue
  src/components/app/ChatbotUi.vue
  src/components/base/form/TextInput.vue
  src/composables/useChatbotContext.ts
  src/composables/useVectorStore.ts
  src/pages/AdminPortalPageV2/Tabs/McpsAdminTab.vue
  src/pages/Chatbot/ChatbotPage.vue
  src/server/routes/api/agent/[id].delete.ts
  src/server/routes/api/agent/[id].get.ts
  src/server/routes/api/chatbot/[slug].get.ts
  src/server/routes/api/chatbot/chat.ts
  src/server/routes/api/prompt/[id].delete.ts
  src/server/routes/api/skill/[id].delete.ts
  src/server/utils/check-super-admin-rights.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: add env to enabale chatbots and vectors
  nuxt.config.ts
  src/composables/usePage404.ts
  src/pages/AdminPortalPageV2/Tabs/AgentSkillsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/AgentsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/McpsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/PromptsAdminTab.vue
  src/pages/AdminPortalPageV2/Tabs/VectorStoreAdminTab.vue
  src/pages/Chatbot/ChatbotPage.vue
  src/server/utils/vector-db.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

test: fix tests goal
  tests/unit/components/project/goal/GoalDrawer.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: routes uses env to enabale chatbots and vectors
  src/app/router.options.ts
  src/app/useAdminPagesRoutes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: add secrets for vector and agents dbs
  .env.sample
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: hide chat drawer on agent pages
  src/app.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: add prisma generate step to docker build
  Dockerfile
  package.json
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: jwt parser
  src/server/utils/check-super-admin-rights.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: temp expose prisma for manual migration
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: try to fix extension schema for vector db
  .env.sample
  k8s/projects-frontend/secrets.dev.yaml
  nuxt.config.ts
  src/server/routes/api/agent/index.post.ts
  src/server/utils/vector-db.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove optional variable from k8s dev
  k8s/projects-frontend/values.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: chatbot db url
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: add migration files
  .gitignore
  prisma-chatbot-db/migrations/20260421082957_initial_schema/migration.sql
  prisma-chatbot-db/migrations/migration_lock.toml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: try to fix ssl mode for db connection
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: add missing secrets for vector store
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove optional variable from k8s dev 2
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: change vector staore table name
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: yran setup for manual prisma migrations
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: attempt to fix azruere pg init issue by subclassing langchain
  k8s/projects-frontend/secrets.dev.yaml
  src/server/utils/vector-db.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: extra temp setup for prisma migrations
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: remove useless variable for agents chat
  src/server/routes/api/chatbot/chat.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: correct subclass of pgvector
  src/server/utils/vector-db.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf
