Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

fix: category admin wording (#441)
  src/components/category/CategoryAdminElement.vue
  src/components/category/CategoryDrawer.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/AdminPortalPage/Tabs/CategoriesTab.vue
  src/pages/CategoryPage/CategoryPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: new project for sm
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: add releases for prod
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: split secrets for projects
  k8s/projects-frontend/secrets.dev.yaml
  k8s/projects-frontend/secrets.prod.yaml
  k8s/projects-frontend/secrets.shared.yaml
  k8s/projects-frontend/secrets.staging.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: new project for sm (#442)
  .github/workflows/entrypoint-push-to-branches.yml
  k8s/projects-frontend/secrets.dev.yaml
  k8s/projects-frontend/secrets.prod.yaml
  k8s/projects-frontend/secrets.shared.yaml
  k8s/projects-frontend/secrets.staging.yaml
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: do not fail ci sourcemap if release exists
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: do not build if release exists
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: hotfix deleted category description on edit
  src/components/category/CategoryDrawer.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove useless key on editors
  src/components/admin/GeneralAdminBlocks/Wording/OrgWordingDrawer.vue
  src/components/group/GroupForm/GroupDescriptionDrawer.vue
  src/components/people/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/components/project/announcement/AnnouncementDrawer.vue
  src/components/project/announcement/ReplyAnnouncementDrawer.vue
  src/components/project/comment/MakeComment.vue
  src/components/project/review/ReviewDrawer.vue
  src/pages/AdminPortalPage/Tabs/HelpAdminTab.vue
  src/pages/AdminPortalPage/Tabs/TemplatesTab.vue
  src/pages/ProfileEditPage/Tabs/ProfileBioEditTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: use new helper version
  k8s/projects-frontend/Chart.lock
  k8s/projects-frontend/Chart.yaml
  k8s/projects-frontend/templates/deployment.yaml
  k8s/projects-frontend/templates/e2e.yaml
  k8s/projects-frontend/templates/network-policy.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

Refacto tiptap editor (#434)
  src/components/admin/GeneralAdminBlocks/Wording/OrgWordingDrawer.vue
  src/components/base/form/TextEditor/TipTapCollaborativeConnectedStatus.vue
  src/components/base/form/TextEditor/TipTapCollaborativeConnectingStatus.vue
  src/components/base/form/TextEditor/TipTapCollaborativeEditor.vue
  src/components/base/form/TextEditor/TipTapCollaborativeReconnectionStatus.vue
  src/components/base/form/TextEditor/TipTapEditor.vue
  src/components/base/form/TextEditor/TipTapEditorContainer.vue
  src/components/base/form/TextEditor/TipTapEditorContent.vue
  src/components/base/form/TextEditor/TipTapModals.vue
  src/components/base/form/TextEditor/modals/EditorModalColor.vue
  src/components/base/form/TextEditor/modals/EditorModalImage.vue
  src/components/base/form/TextEditor/modals/EditorModalLink.vue
  src/components/base/form/TextEditor/modals/EditorModalVideo.vue
  src/components/base/form/TextEditor/useTipTap.js
  src/components/category/CategoryDrawer.vue
  src/components/event/EventForm/EventForm.vue
  src/components/group/GroupForm/GroupDescriptionDrawer.vue
  src/components/instruction/InstructionForm/InstructionForm.vue
  src/components/news/NewsForm/NewsForm.vue
  src/components/people/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/components/project/announcement/AnnouncementDrawer.vue
  src/components/project/announcement/ReplyAnnouncementDrawer.vue
  src/components/project/blog/BlogDrawer.vue
  src/components/project/comment/MakeComment.vue
  src/components/project/description/DescriptionDrawer.vue
  src/components/project/description/DescriptionPlaceholder.vue
  src/components/project/goal/GoalDrawer.vue
  src/components/project/review/ReviewDrawer.vue
  src/design/scss/editor.scss
  src/design/scss/variables.scss
  src/locales/en.json
  src/locales/fr.json
  src/pages/AdminPortalPage/Tabs/CategoriesTab.vue
  src/pages/AdminPortalPage/Tabs/HelpAdminTab.vue
  src/pages/AdminPortalPage/Tabs/TemplatesTab.vue
  src/pages/ProfileEditPage/Tabs/ProfileBioEditTab.vue
  src/pages/ProjectPage/Tabs/ProjectDescriptionTab.vue
  tests/unit/components/project/announcement/AnnouncementDrawer.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: use prod helm registry version
  k8s/projects-frontend/Chart.lock
  k8s/projects-frontend/Chart.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: do not fail ci sourcemap if release exists (#443)
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: use new helper version (#446)
  k8s/projects-frontend/Chart.lock
  k8s/projects-frontend/Chart.yaml
  k8s/projects-frontend/templates/deployment.yaml
  k8s/projects-frontend/templates/e2e.yaml
  k8s/projects-frontend/templates/network-policy.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: update playwright to latest version everywhere
  e2e.Dockerfile
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: update playwright to latest version everywhere (#450)
  e2e.Dockerfile
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: allow to create project without category when platform has none
  src/components/project/ProjectForm.vue
  src/pages/CreateProjectPage/CreateProjectPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: allow to create project without category when platform has none (#451)
  src/components/project/ProjectForm.vue
  src/pages/CreateProjectPage/CreateProjectPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: set default background color in platform settings
  src/pages/AdminPortalPage/Tabs/SettingsTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: hide recommendations block when there's none
  src/components/home/HomeButtons/HomeButtons.vue
  src/components/home/LocationsLink/LocationsLink.vue
  src/components/search/Recommendations/RecommendationBlock.vue
  src/pages/NewHomePage/NewHomePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: set default background color in platform settings (#452)
  src/pages/AdminPortalPage/Tabs/SettingsTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: hide recommendations block when there's none (#453)
  src/components/home/HomeButtons/HomeButtons.vue
  src/components/home/LocationsLink/LocationsLink.vue
  src/components/search/Recommendations/RecommendationBlock.vue
  src/pages/NewHomePage/NewHomePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: broken default image in onboarding complete profile
  src/components/people/CompleteProfileDrawer/CompleteProfileStep1.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: broken default image in onboarding complete profile (#454)
  src/components/people/CompleteProfileDrawer/CompleteProfileStep1.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add private exchange tab to projects wip
  src/components/project/ProjectTabs.vue
  src/components/project/comment/CommentItem.vue
  src/components/project/comment/MakeComment.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/ProjectPage/Tabs/ProjectPrivateExchangeTab.vue
  src/router/routes.ts
  tests/unit/components/project/ProjectTabs.spec.ts
  tests/unit/pages/ProjectPage/Tabs/ProjectCommentsTab.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: rework stats
  src/api/stats.service.ts
  src/components/stats/Charts/Generic/LpiBarChart.vue
  src/components/stats/Charts/ProjectsByOrg.vue
  src/components/stats/Charts/SdgChart.vue
  src/components/stats/Charts/TagChart.vue
  src/components/stats/Charts/TimeOrgChart.vue
  src/components/stats/StatCard.vue
  src/pages/StatsPage/Tabs/StatsByTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: disable aspect ratio
  src/components/stats/Charts/TimeOrgChart.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: try and fix test
  tests/unit/pages/StatsPage/Tabs/StatsByTab.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: remove old file
  tests/unit/components/stats/Charts/ProjectsByOrg.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: internationalize
  src/components/stats/Charts/TimeOrgChart.vue
  src/locales/en.json
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove duplicate legend
  src/components/stats/Charts/SdgChart.vue
  src/components/stats/Charts/TagChart.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: rework stats (#457)
  src/api/stats.service.ts
  src/components/stats/Charts/Generic/LpiBarChart.vue
  src/components/stats/Charts/ProjectsByOrg.vue
  src/components/stats/Charts/SdgChart.vue
  src/components/stats/Charts/TagChart.vue
  src/components/stats/Charts/TimeOrgChart.vue
  src/components/stats/StatCard.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/StatsPage/Tabs/StatsByTab.vue
  tests/unit/components/stats/Charts/ProjectsByOrg.spec.ts
  tests/unit/pages/StatsPage/Tabs/StatsByTab.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: poping errors on unauthorized group
  src/api/group.service.ts
  src/pages/GroupPage/GroupPageInner.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: broken default image on account form
  src/components/people/Account/AccountLayout.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: allow traffic from front to back for image proxy + dns
  deployment/nginx.conf.template
  k8s/projects-frontend/Chart.lock
  k8s/projects-frontend/Chart.yaml
  k8s/projects-frontend/local.test.yaml
  k8s/projects-frontend/templates/network-policy.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remote oci
  k8s/projects-frontend/Chart.lock
  k8s/projects-frontend/Chart.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: poping errors on unauthorized group (#458)
  src/api/group.service.ts
  src/pages/GroupPage/GroupPageInner.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: prefix docker_inject
  deployment/nginx.conf.template
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: broken default image on account form (#459)
  src/components/people/Account/AccountLayout.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf
