Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf

fix: add global dotenv for migrations
  Dockerfile
  nuxt.config.ts
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: agent db url
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: temp prisma setup in nuxt
  nuxt.config.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: temp add global prisma to build
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: non encoded bad chars in db urls
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: issuperadmin check and ssl mode in db connection strings
  k8s/projects-frontend/secrets.dev.yaml
  src/server/utils/check-super-admin-rights.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: add prisma generate step to lint and test workflow
  .github/workflows/lint-and-test.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: try to fix ssl mode for db connection
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

test: fix tests template
  src/models/template.model.ts
  tests/factories/template.factory.ts
  tests/unit/pages/RegisterPage/RegisterPage.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: i18nt components
  src/components/app/NotificationItem.vue
  src/components/onboarding/OnboardingTodoBlock/OnboardingTodoBlock.vue
  src/components/onboarding/WelcomeModal/TakeTourModal.vue
  src/components/onboarding/WelcomeModal/WelcomeModal.vue
  src/components/people/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/pages/RegisterPage/RegisterPage.vue
  src/pages/RequestAccessPage/RequestAccessPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: post nasty rebase fixes
  src/app/router.options.ts
  src/data/sdgs.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: disable onboarding tab unit test after rebase
  tests/unit/pages/HelpPage/Tabs/OnBoardingTab.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: disable tempateCreateTab and templatetab unit tests after rebase
  tests/unit/pages/AdminPortalPageV2/Tabs/TemplatesCreateTab.test.ts
  tests/unit/pages/AdminPortalPageV2/Tabs/TemplatesTab.test.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: chat 502 errors when deployed
  src/components/app/ChatbotUi.vue
  src/server/routes/api/chatbot/chat.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: reset conversation when leaving chat
  src/components/app/ChatBotDrawer.vue
  src/components/app/ChatbotUi.vue
  src/pages/Chatbot/ChatbotPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: agent data loading in edit and create form
  src/components/agents/agent-admin/AgentAdminForm.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: use latest skill and prompt cascade version update
  src/components/agents/agent-admin/AgentAdminForm.vue
  src/server/routes/api/prompt/[id].put.ts
  src/server/routes/api/skill/[id].put.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: add langsmith tracing for dev stack
  k8s/projects-frontend/secrets.dev.yaml
  src/server/routes/api/chatbot/chat.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

add previews
  src/api/comments.service.ts
  src/api/reviews.service.ts
  src/api/v2/base.service.ts
  src/api/v2/comments.service.ts
  src/api/v2/project.service.ts
  src/api/v2/reviews.service.ts
  src/components/people/ProjectMemberItem/ProjectMemberItem.vue
  src/components/project/comment/CommentItem.vue
  src/components/project/comment/MakeComment.vue
  src/components/project/modules/Comments/BaseProjectComments.vue
  src/components/project/modules/Members/BaseProjectMembersList.vue
  src/components/project/modules/Resources/ProjectResourcesPreview.vue
  src/components/project/review/BaseProjectReview.vue
  src/components/project/review/ProjectReviewPreview.vue
  src/composables/useAutoTranslate.ts
  src/models/comment.model.ts
  src/models/project.model.ts
  src/models/review.model.ts
  src/pages/ProjectPageV2/Tabs/Summary/ProjectSummaryTab.vue
  src/pages/ProjectPageV2/useProjectData.ts
  src/skeletons/comments.skeletons.ts
  src/skeletons/reviews.skeletons.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/components/agents/agent-admin/AgentAdminForm.vue
  src/server/routes/api/chatbot/chat.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix previews comments
  src/api/projects.service.ts
  src/api/v2/project.service.ts
  src/app/useProjectPagesRoutes.ts
  src/components/base/layouts/NavPanelLayout.vue
  src/components/project/modules/Comments/BaseProjectComments.vue
  src/components/project/modules/Comments/ProjectCommentsPreview.vue
  src/components/project/modules/Members/BaseProjectMembersList.vue
  src/components/project/modules/PrivateExchange/ProjectPrivateExchangePreview.vue
  src/models/project-member.model.ts
  src/models/project.model.ts
  src/pages/ProjectPageV2/Tabs/Summary/ProjectSummaryTab.vue
  src/pages/ProjectPageV2/Tabs/Team/ProjectTeamTab2.vue
  src/skeletons/project.skeletons.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

private exchanges
  src/api/project-messages.service.ts
  src/api/v2/comments.service.ts
  src/components/project/comment/CommentItem.vue
  src/components/project/modules/Comments/BaseProjectComments.vue
  src/components/project/modules/PrivateExchange/ProjectPrivateExchangePreview.vue
  src/components/project/modules/Summary/ProjectSummaryPreview.vue
  src/composables/useAutoTranslate.ts
  src/models/blog-entry.model.ts
  src/models/comment.model.ts
  src/models/event.model.ts
  src/models/instruction.model.ts
  src/models/news.model.ts
  src/models/project-member.model.ts
  src/models/project-message.model.ts
  src/models/project.model.ts
  src/models/review.model.ts
  src/pages/ProjectPageV2/Tabs/PrivateExchange/ProjectPrivateExchangeTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: vector store ingestion support for txt and docx files
  package.json
  src/components/agents/vector-store/VectorStoreIngestionForm.vue
  src/server/routes/api/vector-store/ingest.post.ts
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: remove debug logs
  src/server/routes/api/vector-store/ingest.post.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

clean
  src/components/project/comment/CommentItem.vue
  src/components/project/comment/MakeComment.vue
  src/skeletons/comments.skeletons.ts
  src/skeletons/user.skeletons.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: projects form
  src/components/project/ProjectForm.vue
  src/components/search/Filters/FilterSearchInput.vue
  src/pages/ProjectPageV2/Tabs/ProjectEditGeneralInfos.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: projects form (#997)
  src/components/project/ProjectForm.vue
  src/components/search/Filters/FilterSearchInput.vue
  src/pages/ProjectPageV2/Tabs/ProjectEditGeneralInfos.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

clean tabs
  src/components/base/FetchLoader.vue
  src/components/modules/BaseModuleTab.vue
  src/components/project/ProjectCard.vue
  src/components/project/ProjectFollowIcon.vue
  src/components/project/ProjectNavPanel.vue
  src/components/project/announcement/AnnouncementCard.vue
  src/components/project/blog/BlogEntry.vue
  src/components/project/comment/CommentItem.vue
  src/components/project/goal/GoalsRecap.vue
  src/components/project/modules/Announcements/BaseProjectAnnouncements.vue
  src/components/project/modules/Announcements/ProjectAnnouncementsPreview.vue
  src/components/project/modules/BlogEntries/ProjectBlogEntriesPreview.vue
  src/components/project/modules/Comments/ProjectCommentsPreview.vue
  src/components/project/modules/Goals/ProjectGoalsPreview.vue
  src/components/project/modules/LinkedProjects/BaseLinkedProjects.vue
  src/components/project/modules/LinkedProjects/ProjectLinkedProjectsPreview.vue
  src/components/project/modules/Locations/ProjectLocationsPreview.vue
  src/components/project/modules/Members/BaseProjectMembersList.vue
  src/components/project/modules/Members/ProjectMembersPreview.vue
  src/components/project/modules/PrivateExchange/ProjectPrivateExchangePreview.vue
  src/components/project/modules/Resources/ProjectResourcesPreview.vue
  src/components/project/review/ProjectReviewPreview.vue
  src/components/project/review/ReviewItem.vue
  src/components/project/review/ReviewRecap.vue
  src/composables/useAutoTranslate.ts
  src/models/review.model.ts
  src/pages/ProjectPageV2/Tabs/Announcements/ProjectAnnouncementsTab.vue
  src/pages/ProjectPageV2/Tabs/BlogEntries/ProjectBlogEntriesTab.vue
  src/pages/ProjectPageV2/Tabs/LinkedProjects/ProjectLinkedProjectsTab.vue
  src/pages/ProjectPageV2/Tabs/Summary/ProjectSummaryTab.vue
  src/skeletons/announcement.skeletons.ts
  src/skeletons/project.skeletons.ts
  src/skeletons/reviews.skeletons.ts
  tests/factories/review.factory.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

recommendation
  src/api/organizations.service.ts
  src/api/recommendations.service.ts
  src/api/v2/organizations.service.ts
  src/api/v2/recommendations.service.ts
  src/app/useProjectPagesRoutes.ts
  src/components/app/LpiHeader.vue
  src/components/app/NotificationItem.vue
  src/components/base/form/TextEditor/TipTapEditor.vue
  src/components/project/ProjectPreview.vue
  src/components/project/SimilarProjectsItem.vue
  src/components/project/announcement/AnnouncementCard.vue
  src/components/search/Recommendations/BaseRecommendationList.vue
  src/components/search/Recommendations/ProjectRecommendationItem.vue
  src/components/search/Recommendations/ProjectRecommendationItemSkeleton.vue
  src/components/search/Recommendations/ProjectRecommendationList.vue
  src/components/search/Recommendations/RecommendationBlock.vue
  src/components/search/Recommendations/RecommendationListSkeleton.vue
  src/components/search/Recommendations/UserRecommendationItem.vue
  src/components/search/Recommendations/UserRecommendationItemSkeleton.vue
  src/components/search/Recommendations/UserRecommendationList.vue
  src/pages/NewHomePage/NewHomePage.vue
  src/pages/ProjectPageV2/ProjectPage.vue
  src/pages/ProjectPageV2/ProjectSnapshotTab.vue
  src/pages/ProjectPageV2/ProjectTabs.ts
  src/pages/ProjectPageV2/Tabs/Settings/ProjectSettingsTab.vue
  src/pages/ProjectPageV2/Tabs/Team/ProjectEditTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

clean
  src/components/project/comment/MakeComment.vue
  src/components/search/Recommendations/RecommendationBlock.vue
  src/skeletons/project.skeletons.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

format
  src/api/organization-tags.service.ts
  src/api/recommendations.service.ts
  src/api/tag-classification.service.ts
  src/api/v2/recommendations.service.ts
  src/components/admin/TagClassificationAdmin.vue
  src/components/search/FilterTags/TagResults.vue
  src/composables/useTagSearch.ts
  src/mcp-server/sorbobot/sorbobot-api.ts
  src/mcp-server/sorbobot/sorbobot-tool.ts
  src/models/organization.model.ts
  src/models/tagclassification.model.ts
  src/pages/AccessibilityPage/AccessibilityPage.vue
  src/pages/CategoriesPage/CategoriesPage.vue
  src/pages/CookiesPage/CookiesPage.vue
  src/pages/ErrorPage/ErrorPage.vue
  src/pages/LegalNoticesPage/LegalNoticesPage.vue
  src/pages/PcaPage/PcaPage.vue
  src/pages/PersonalDataPage/PersonalDataPage.vue
  src/pages/PortalPage/PortalPage.vue
  src/pages/ProjectRecommendationPage/ProjectRecommendationPage.vue
  src/pages/PssiPage/PssiPage.vue
  src/pages/StatsPage/StatsPage.vue
  src/pages/TermsOfServicePage/TermsOfServicePage.vue
  src/pages/UserRecommendationPage/UserRecommendationPage.vue
  src/stores/useOrganizations.ts
  tests/unit/pages/ProjectRecommendationPage/ProjectRecommendationPage.spec.ts
  tests/unit/pages/UserRecommendationPage/UserRecommendationPage.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

cleanup
  src/components/admin/ClassificationAdmin.vue
  src/components/admin/GeneralAdminBlocks/Chat/ChatAdminBlock.vue
  src/components/admin/GeneralAdminBlocks/Chat/EditChatDrawer.vue
  src/components/base/form/FieldDisabler.vue
  src/components/category/CategoryDrawer.vue
  src/components/people/UserDescriptions.vue
  src/components/people/skill/SkillsEditDrawer.vue
  src/components/project/announcement/AnnouncementCardListSkeleton.vue
  src/components/project/announcement/AnnouncementCardSkeleton.vue
  src/components/search/FilterTags/TagResult.vue
  src/components/search/Filters/FilterButton.vue
  src/components/search/Filters/SkillsFilterEditor.vue
  src/components/search/Filters/TagsFilterEditor.vue
  src/components/search/GlobalSearchTab.vue
  src/components/search/SearchOptions/HomeSearchOptions.vue
  src/composables/useTagSearch.ts
  src/form/mentorship.ts
  src/models/project-category.model.ts
  tests/factories/project-category.factory.ts
  tests/unit/composables/useTagSearch.spec.js
  tests/unit/functs/FunctionImporter.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

test: fix requests
  src/components/project/review/ReviewRecap.vue
  tests/factories/skill.factory.ts
  tests/unit/components/admin/DefaultSkillsAdmin.spec.ts
  tests/unit/components/project/announcement/AnnouncementCard.spec.ts
  tests/unit/components/project/goal/GoalsRecap.spec.ts
  tests/unit/components/project/review/ReviewRecap.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

cleanup
  src/api/groups.service.ts
  src/components/admin/DefaultSkillsAdmin.vue
  src/components/admin/EditClassification.vue
  src/components/base/form/FilterEditor.vue
  src/components/category/CategoryDrawer.vue
  src/components/group/GroupForm/GroupForm.vue
  src/components/group/GroupForm/GroupTeamSection.vue
  src/components/group/GroupForm/ProjectSection.vue
  src/components/group/PickGroupDrawer/PickGroupDrawer.vue
  src/components/people/Account/AccountForm.vue
  src/components/project/PickProjectSelection.vue
  src/components/project/ProjectCard.vue
  src/components/project/TeamSection.vue
  src/components/project/blog/BlogDrawer.vue
  src/components/project/description/DescriptionDrawer.vue
  src/components/project/linked-project/LinkedProjectSelection.vue
  src/components/resources/ResourcesTab.vue
  src/components/search/Filters/TagsFilterEditor.vue
  src/form/classification.ts
  src/models/organization.model.ts
  src/pages/AdminPortalPageV2/Tabs/LinkCreateTab.vue
  src/pages/CreateProjectPage/CreateProjectPage.vue
  src/pages/GroupPageV2/Tabs/GroupEditTab.vue
  src/pages/ProjectPageV2/Tabs/Description/ProjectEditDescriptionTab.vue
  src/pages/ProjectPageV2/Tabs/Resources/ProjectResourcesTab.vue
  src/pages/UserProfilePageV2/Tabs/ProfileGeneralEditTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

cleanup
  src/components/admin/GeneralAdminBlocks/Chat/ChatAdminBlock.vue
  src/components/admin/GeneralAdminBlocks/Chat/EditChatDrawer.vue
  src/components/base/form/TextEditor/ImageMenuBar.vue
  src/components/base/form/TextEditor/VideoMenuBar.vue
  src/functs/menuBarTippyOptions.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

test: fix tagsfilter
  tests/unit/components/search/Filters/TagsFilterEditor.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

cleanup
  src/components/base/modal/DatePickerModal.vue
  src/components/project/announcement/ReplyAnnouncementDrawer.vue
  src/components/project/comment/MakeComment.vue
  tests/unit/components/project/goal/GoalsRecap.spec.ts
  tests/unit/components/project/review/ReviewRecap.spec.ts
  tests/unit/pages/ProjectRecommendationPage/ProjectRecommendationPage.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

keycloak
  src/api/auth/auth.service.ts
  src/api/auth/keycloak.ts
  src/api/auth/keycloakUtils.ts
  src/stores/useUsers.ts
  tests/unit/api/auth/keycloak.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

condition
  src/components/base/HtmlLimiter.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri
