Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

feat: small cleanup
  e2e.Dockerfile
  k8s/projects-frontend/templates/e2e.yaml
  k8s/projects-frontend/values.yaml
  package.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: revert ci to main
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: remove e2e in ci
  .github/workflows/e2e-image-push.yml
  .github/workflows/e2e.yml
  .github/workflows/entrypoint-e2e-label.yml
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: add base k8s config to run e2e (#247)
  .github/workflows/e2e-image-push.yml
  .github/workflows/e2e.yml
  .github/workflows/entrypoint-e2e-label.yml
  .github/workflows/entrypoint-push-to-branches.yml
  .github/workflows/lint-and-test.yml
  .gitignore
  e2e.Dockerfile
  k8s/projects-frontend/Chart.lock
  k8s/projects-frontend/Chart.yaml
  k8s/projects-frontend/e2e/secrets.dev.yaml
  k8s/projects-frontend/e2e/values.dev.yaml
  k8s/projects-frontend/local.test.yaml
  k8s/projects-frontend/secrets.dev.yaml
  k8s/projects-frontend/templates/e2e.yaml
  k8s/projects-frontend/templates/environment-configmap.yaml
  k8s/projects-frontend/values.yaml
  playwright.config.ts
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

fix: account roles translation and name
  src/components/Layouts/Account/AccountForm.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: account roles translation and name (#263)
  src/components/Layouts/Account/AccountForm.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: facilitate font switching per platform configuration
  .env.example
  Dockerfile
  Dockerfile.dev
  src/components/Drawers/ContactForm.vue
  src/components/Header/HeaderDropDown.vue
  src/components/lpikit/AnnouncementDrawer/AnnouncementDrawer.vue
  src/components/lpikit/BlogDrawer/BlogDrawer.vue
  src/components/lpikit/DatePicker/DatePicker.vue
  src/components/lpikit/Dropdown/SearchOptionDropDown.vue
  src/components/lpikit/GroupForm/GroupDescriptionDrawer.vue
  src/components/lpikit/GroupForm/GroupForm.vue
  src/components/lpikit/ProjectForm/ProjectForm.vue
  src/components/lpikit/ReplyAnnouncementDrawer/ReplyAnnouncementDrawer.vue
  src/components/lpikit/ResourceDrawer/ResourceDrawer.vue
  src/components/lpikit/ReviewDrawer/ReviewDrawer.vue
  src/components/lpikit/TextInput/TextInput.vue
  src/design/scss/editor.scss
  src/design/scss/fonts/fonts-default.scss
  src/design/scss/main.scss
  src/design/scss/reset.scss
  src/design/scss/styles.scss
  src/pages/AdminPortalPage/AdminPortalPage.vue
  src/views/AboutPage.vue
  src/views/DiscoverPage.vue
  vite.config.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

fix: bad import after rebase
  src/design/scss/main.scss
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: add debug for font env
  vite.config.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove font switch logic
  .env.example
  Dockerfile
  Dockerfile.dev
  src/design/scss/main.scss
  vite.config.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

PROJ-1459-faciliter-le-changement-de-police-sur-une-plateforme (#209)
  .env.example
  Dockerfile.dev
  src/components/Drawers/ContactForm.vue
  src/components/Header/HeaderDropDown.vue
  src/components/lpikit/AnnouncementDrawer/AnnouncementDrawer.vue
  src/components/lpikit/BlogDrawer/BlogDrawer.vue
  src/components/lpikit/DatePicker/DatePicker.vue
  src/components/lpikit/Dropdown/SearchOptionDropDown.vue
  src/components/lpikit/GroupForm/GroupDescriptionDrawer.vue
  src/components/lpikit/GroupForm/GroupForm.vue
  src/components/lpikit/ProjectForm/ProjectForm.vue
  src/components/lpikit/ReplyAnnouncementDrawer/ReplyAnnouncementDrawer.vue
  src/components/lpikit/ResourceDrawer/ResourceDrawer.vue
  src/components/lpikit/ReviewDrawer/ReviewDrawer.vue
  src/components/lpikit/TextInput/TextInput.vue
  src/design/scss/editor.scss
  src/design/scss/fonts/fonts-default.scss
  src/design/scss/main.scss
  src/design/scss/reset.scss
  src/design/scss/styles.scss
  src/pages/AdminPortalPage/AdminPortalPage.vue
  src/views/AboutPage.vue
  src/views/DiscoverPage.vue
  vite.config.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: unscoped styles
  src/components/lpikit/ProjectTabs/ProjectTabs.vue
  src/components/lpikit/ReviewDrawer/ReviewDrawer.vue
  src/components/lpikit/TextEditor/MenuBar.vue
  src/components/lpikit/TextEditor/tiptap-extensions/LpiCodeBlockNodeView.vue
  src/components/peopleKit/Filters/TagsFilterSummary.vue
  src/components/shrcomponents/NoItem.vue
  src/pages/AdminPortalPage/Tabs/InformationTab.vue
  src/pages/MapPage/MapPage.vue
  src/pages/ProjectPage/Tabs/Summary/DescriptionRecap.vue
  src/pages/ProjectPage/Tabs/Summary/LinkedProjectsRecap.vue
  src/views/AboutPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: use new slack cwftpl
  k8s/projects-frontend/templates/e2e.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: fail channel
  k8s/projects-frontend/templates/e2e.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: move messages to it-projects-frontend
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: unit test
  tests/unit/components/lpikit/FilterTags/WikipediaResults.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: unscoped styles (#264)
  src/components/lpikit/ProjectTabs/ProjectTabs.vue
  src/components/lpikit/ReviewDrawer/ReviewDrawer.vue
  src/components/lpikit/TextEditor/MenuBar.vue
  src/components/lpikit/TextEditor/tiptap-extensions/LpiCodeBlockNodeView.vue
  src/components/peopleKit/Filters/TagsFilterSummary.vue
  src/components/shrcomponents/NoItem.vue
  src/pages/AdminPortalPage/Tabs/InformationTab.vue
  src/pages/MapPage/MapPage.vue
  src/pages/ProjectPage/Tabs/Summary/DescriptionRecap.vue
  src/pages/ProjectPage/Tabs/Summary/LinkedProjectsRecap.vue
  src/views/AboutPage.vue
  tests/unit/components/lpikit/FilterTags/WikipediaResults.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: news form
  src/components/lpikit/NewsForm/NewsForm.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/CreateNewsPage/CreateNewsPage.vue
  src/pages/NewsListPage/NewsListPage.vue
  src/pages/NewsPage/NewsPage.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: news page, list and drawer
  src/components/lpikit/EditNewsDrawer/EditNewsDrawer.vue
  src/components/lpikit/NewsListItem/NewsListItem.vue
  src/design/scss/editor.scss
  src/locales/en.json
  src/locales/fr.json
  src/pages/CreateNewsPage/CreateNewsPage.vue
  src/pages/NewsListPage/NewsListPage.vue
  src/pages/NewsPage/NewsPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add news publish date and groups
  src/components/lpikit/EditEventDrawer/EditEventDrawer.vue
  src/components/lpikit/EditNewsDrawer/EditNewsDrawer.vue
  src/components/lpikit/EventForm/EventForm.vue
  src/components/lpikit/NewsForm/NewsForm.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/CreateEventPage/CreateEventPage.vue
  src/pages/CreateNewsPage/CreateNewsPage.vue
  src/pages/NewsListPage/NewsListPage.vue
  src/pages/NewsPage/NewsPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: rename news date_publication to publication_date
  src/components/lpikit/EditNewsDrawer/EditNewsDrawer.vue
  src/components/lpikit/NewsForm/NewsForm.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/CreateNewsPage/CreateNewsPage.vue
  src/pages/NewsListPage/NewsListPage.vue
  src/pages/NewsPage/NewsPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: instructions form and pages
  .env.example
  src/components/lpikit/EditInstructionDrawer/EditInstructionDrawer.vue
  src/components/lpikit/InstructionForm/InstructionForm.vue
  src/components/lpikit/InstructionListItem/InstructionListItem.vue
  src/design/scss/editor.scss
  src/locales/en.json
  src/locales/fr.json
  src/pages/CreateInstructionPage/CreateInstructionPage.vue
  src/pages/InstructionListPage/InstructionListPage.vue
  src/pages/InstructionPage/InstructionPage.vue
  src/pages/NewsPage/NewsPage.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: instruction notify button
  src/components/lpikit/InstructionForm/InstructionForm.vue
  src/components/svgs/IconImage.vue
  src/components/svgs/IconList.vue
  src/locales/en.json
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: read more links
  src/components/lpikit/InstructionForm/InstructionForm.vue
  src/components/lpikit/InstructionListItem/InstructionListItem.vue
  src/components/lpikit/NewsListItem/NewsListItem.vue
  src/locales/en.json
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: e2e tests
  src/components/lpikit/LpiSelect/LpiSelect.vue
  tests/playwright/lib/createProject.ts
  tests/playwright/lib/project/create.ts
  tests/playwright/variables.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: e2e tests (#266)
  src/components/lpikit/LpiSelect/LpiSelect.vue
  tests/playwright/lib/createProject.ts
  tests/playwright/lib/project/create.ts
  tests/playwright/variables.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: readd vite_app_home to build-args
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: refactor new home related objects switch
  .env.example
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: added newsfeed page
  src/api/newsfeed.service.ts
  src/components/lpikit/HomeButtons/HomeButtons.vue
  src/components/lpikit/HomeNews/HomeAnnouncementsItem.vue
  src/components/lpikit/HomeNews/HomeNews.vue
  src/components/lpikit/HomeNews/HomeNewsItem.vue
  src/components/lpikit/Skeleton/NewsListSkeleton.vue
  src/locales/en.json
  src/locales/fr.json
  src/models/newsfeed.model.ts
  src/pages/NewsfeedPage/NewsfeedPage.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

Proj 1538 creer news form et page (#248)
  .env.example
  src/components/lpikit/EditEventDrawer/EditEventDrawer.vue
  src/components/lpikit/EditInstructionDrawer/EditInstructionDrawer.vue
  src/components/lpikit/EditNewsDrawer/EditNewsDrawer.vue
  src/components/lpikit/EventForm/EventForm.vue
  src/components/lpikit/InstructionForm/InstructionForm.vue
  src/components/lpikit/InstructionListItem/InstructionListItem.vue
  src/components/lpikit/NewsForm/NewsForm.vue
  src/components/lpikit/NewsListItem/NewsListItem.vue
  src/components/svgs/IconImage.vue
  src/components/svgs/IconList.vue
  src/design/scss/editor.scss
  src/locales/en.json
  src/locales/fr.json
  src/pages/CreateInstructionPage/CreateInstructionPage.vue
  src/pages/CreateNewsPage/CreateNewsPage.vue
  src/pages/InstructionListPage/InstructionListPage.vue
  src/pages/InstructionPage/InstructionPage.vue
  src/pages/NewsListPage/NewsListPage.vue
  src/pages/NewsPage/NewsPage.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: added newsfeed page (#265)
  src/api/newsfeed.service.ts
  src/components/lpikit/HomeButtons/HomeButtons.vue
  src/components/lpikit/HomeNews/HomeAnnouncementsItem.vue
  src/components/lpikit/HomeNews/HomeNews.vue
  src/components/lpikit/HomeNews/HomeNewsItem.vue
  src/components/lpikit/Skeleton/NewsListSkeleton.vue
  src/locales/en.json
  src/locales/fr.json
  src/models/newsfeed.model.ts
  src/pages/NewsfeedPage/NewsfeedPage.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: aspect ratio of news images
  src/components/lpikit/EditNewsDrawer/EditNewsDrawer.vue
  src/components/lpikit/ImageEditor/ImageEditor.vue
  src/components/lpikit/ImageResizer/ImageResizer.vue
  src/components/lpikit/NewsForm/NewsForm.vue
  src/components/lpikit/NewsListItem/NewsListItem.vue
  src/pages/NewsPage/NewsPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: news item aspect ratio
  src/components/lpikit/NewsListItem/NewsListItem.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/components/lpikit/NewsForm/NewsForm.vue
  src/components/lpikit/NewsListItem/NewsListItem.vue
  src/pages/NewsPage/NewsPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: image resizer and cropped image for non square ratio
  src/components/lpikit/CroppedImage/CroppedImage.vue
  src/components/lpikit/ImageEditor/ImageEditor.vue
  src/components/lpikit/ImageResizer/ImageResizer.vue
  src/components/lpikit/NewsListItem/NewsListItem.vue
  src/pages/NewsPage/NewsPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: aspect ratio of news images (#267)
  src/components/lpikit/CroppedImage/CroppedImage.vue
  src/components/lpikit/EditNewsDrawer/EditNewsDrawer.vue
  src/components/lpikit/ImageEditor/ImageEditor.vue
  src/components/lpikit/ImageResizer/ImageResizer.vue
  src/components/lpikit/NewsForm/NewsForm.vue
  src/components/lpikit/NewsListItem/NewsListItem.vue
  src/pages/NewsPage/NewsPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: responsive tweaks for new home
  src/components/Layouts/Search/BrowseLayout.vue
  src/components/lpikit/Dropdown/SearchOptionDropDown.vue
  src/components/lpikit/HomeNews/HomeAnnouncementsItem.vue
  src/components/lpikit/HomeNews/HomeNews.vue
  src/components/lpikit/HomeNews/HomeNewsItem.vue
  src/components/lpikit/SearchInput/SearchInput.vue
  src/components/lpikit/SearchOptions/SearchOptions.vue
  src/pages/NewHomePage/NewHomePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: try to fix stubborn unit test on wikipediaresults
  src/components/lpikit/FilterTags/WikipediaResults.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: responsive tweaks for new home (#269)
  src/components/Layouts/Search/BrowseLayout.vue
  src/components/lpikit/Dropdown/SearchOptionDropDown.vue
  src/components/lpikit/FilterTags/WikipediaResults.vue
  src/components/lpikit/HomeNews/HomeAnnouncementsItem.vue
  src/components/lpikit/HomeNews/HomeNews.vue
  src/components/lpikit/HomeNews/HomeNewsItem.vue
  src/components/lpikit/SearchInput/SearchInput.vue
  src/components/lpikit/SearchOptions/SearchOptions.vue
  src/pages/NewHomePage/NewHomePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf
