Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf

feat: refacto see more buttons and add animation (#78)
  src/components/Profile/SkillSummary.vue
  src/components/Profile/UserDescriptions.vue
  src/components/lpikit/ProjectList/CardList.vue
  src/components/lpikit/SeeMoreArrow/SeeMoreArrow.vue
  src/components/lpikit/UserProfile/UserProjectList.vue
  src/pages/GroupPage/Tabs/GroupSnapshotTab.vue
  src/pages/ProjectPage/Tabs/Summary/DescriptionRecap.vue
  src/pages/ProjectPage/Tabs/shared/SectionHeader.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: tiptap table editor resize and project description layout
  src/components/lpikit/LpiButton/LpiButton.vue
  src/components/lpikit/ProjectHeader/TagsList.vue
  src/components/lpikit/Summary/DescriptionSummaryBlock.vue
  src/components/lpikit/TextEditor/tiptap-extensions/ExternalVideo.ts
  src/pages/ProjectPage/Tabs/Description/ProjectDescriptionTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: project description resizable table
  src/design/scss/editor.scss
  src/functs/editorUtils.ts
  src/pages/ProjectPage/Tabs/Description/ProjectDescriptionTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: other tiptap fields wiyth table
  src/design/scss/editor.scss
  src/functs/editorUtils.ts
  src/pages/HelpPage/Tabs/OnBoardingTab.vue
  src/pages/ProjectPage/Tabs/BlogEntries/BlogEntry.vue
  src/pages/ProjectPage/Tabs/ProjectComments/CommentItem.vue
  src/pages/ProjectPage/Tabs/ProjectGoals/GoalItem.vue
  src/pages/ProjectPage/Tabs/Summary/PublicationRecap.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: editor table report of old repo wip branch
  src/components/lpikit/TextEditor/TipTapEditor.vue
  src/design/scss/editor.scss
  src/pages/ProjectPage/Tabs/Description/ProjectDescriptionTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: unit test
  src/pages/ProjectPage/Tabs/Description/ProjectDescriptionTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: description quick link and video layout
  src/components/lpikit/LpiButton/LpiButton.vue
  src/components/lpikit/Summary/DescriptionSummaryBlock.vue
  src/design/scss/editor.scss
  src/functs/editorUtils.ts
  src/pages/ProjectPage/Tabs/Description/ProjectDescriptionTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1267-les-liens-wikitag-dans-header-project-ne-fonctionnent-pas (#91)
  src/components/lpikit/ProjectHeader/TagsList.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

Proj 933 as a connected user with no specific rights i can t resize a project description table s columns width height (#80)
  src/components/lpikit/LpiButton/LpiButton.vue
  src/components/lpikit/ProjectHeader/TagsList.vue
  src/components/lpikit/Summary/DescriptionSummaryBlock.vue
  src/components/lpikit/TextEditor/TipTapEditor.vue
  src/components/lpikit/TextEditor/tiptap-extensions/ExternalVideo.ts
  src/design/scss/editor.scss
  src/functs/editorUtils.ts
  src/pages/HelpPage/Tabs/OnBoardingTab.vue
  src/pages/ProjectPage/Tabs/BlogEntries/BlogEntry.vue
  src/pages/ProjectPage/Tabs/Description/ProjectDescriptionTab.vue
  src/pages/ProjectPage/Tabs/ProjectComments/CommentItem.vue
  src/pages/ProjectPage/Tabs/ProjectGoals/GoalItem.vue
  src/pages/ProjectPage/Tabs/Summary/PublicationRecap.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: contact form subject field translation
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: reorder blog entries on update and use creation date (#89)
  src/pages/ProjectPage/Tabs/BlogEntries/ProjectBlogEntriesTab.vue
  src/store/modules/projects.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add effect on tabs hover
  src/components/lpikit/Tabs/TabsLayout.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: contact form subject field translation (#92)
  src/locales/fr.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: user profile groups as real links and animated
  src/components/lpikit/FullProfile/ProfileHeader.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/components/lpikit/Tabs/TabsLayout.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: Dockerfile to reduce vulnerabilities (#76)
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

chore: update vue-i18n commitlint and axios
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1269-ajouter-un-effet-au-hover-sur-les-tabs (#93)
  src/components/lpikit/Tabs/TabsLayout.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: user profile groups as real links and animated (#94)
  src/components/lpikit/FullProfile/ProfileHeader.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: axios types
  src/api/api.config.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: upgrade @hocuspocus/provider from 2.5.0 to 2.7.0
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: upgrade commitlint from 17.7.1 to 17.8.0
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: unit test
  src/pages/ProjectPage/Tabs/Description/ProjectDescriptionTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: update commintlint to 17.8.0
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

add project category filter
  src/pages/CreateProjectPage/CreateProjectPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1271-mise-jour-d-pendences (#95)
  package.json
  src/api/api.config.ts
  src/pages/ProjectPage/Tabs/Description/ProjectDescriptionTab.vue
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: rework project description sticky header
  src/components/lpikit/Summary/DescriptionSummaryBlock.vue
  src/pages/ProjectPage/Tabs/Description/ProjectDescriptionTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: cleanup code
  src/pages/ProjectPage/Tabs/Description/ProjectDescriptionTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: use throttling
  src/pages/ProjectPage/Tabs/Description/ProjectDescriptionTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

add project category filter
  src/pages/CreateProjectPage/CreateProjectPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add github message when e2e fail
  .github/workflows/e2e.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

add project category filter
  src/pages/CreateProjectPage/CreateProjectPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

test: reduce timeout a lot
  .github/workflows/e2e.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: do not install deps, send message on cancellation
  .github/workflows/e2e.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: move timeout inside playright
  .github/workflows/e2e.yml
  playwright.config.ts
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

feat: install playwright on its own
  .github/workflows/e2e.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: install playwright tests
  .github/workflows/e2e.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: deleting one skill deletes all the current selection
  src/components/lpikit/SkillsEditDrawer/SkillsEditDrawer.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

Proj 1275 retravailler l entete sticky des descriptions de projet (#100)
  src/components/lpikit/Summary/DescriptionSummaryBlock.vue
  src/pages/ProjectPage/Tabs/Description/ProjectDescriptionTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: simplify package.json
  .github/workflows/e2e.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf
