Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

fix: double escape dollar
  interpolate-variables.sh
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

Lint without using `--fix` in CI (#79)
  .github/workflows/lint-and-test.yml
  package.json
  src/components/lpikit/Tabs/TabsLayout.vue
  src/pages/HelpPage/HelpPage.vue
  src/pages/PortalPage/PortalPage.vue
  src/pages/RegisterPage/RegisterPage.vue
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

feat: rework ci
  .github/workflows/lint-and-test.yml
  package.json
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

stop running tests twice
  .github/workflows/lint-and-test.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: simpler coverage
  .github/workflows/lint-and-test.yml
  package.json
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

feat: install coverage
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: stop generating the coverage
  .github/workflows/lint-and-test.yml
  package.json
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

feat: readd old tests
  package.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: use the ci version
  .github/workflows/lint-and-test.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: try to expose gc
  package.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: use secrets safely (#29)
  .github/workflows/entrypoint-push-to-branches.yml
  Dockerfile
  interpolate-variables.sh
  k8s/projects-frontend/templates/deployment.yaml
  nginx-entrypoint-interpolate-variables.sh
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

feat: remove coverage
  package.json
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

Rework CI (#88)
  .github/workflows/lint-and-test.yml
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

feat: display app version in loader screen (#65)
  index.html
  vite.config.js
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: refacto app store loading state dead code (#66)
  src/App.vue
  src/components/Header/LpiHeader.vue
  src/components/lpikit/ProjectHeader/ProjectHeader.vue
  src/pages/AdminPortalPage/AdminPortalPage.vue
  src/pages/CategoryPage/CategoryPage.vue
  src/pages/ErrorPage/ErrorPage.vue
  src/pages/HomePage/HomePage.vue
  src/pages/MapPage/MapPage.vue
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/SearchPage/SearchPage.vue
  src/store/index.ts
  src/store/modules/app.ts
  src/store/modules/users.ts
  src/views/AboutPage.vue
  src/views/DiscoverPage.vue
  tests/unit/store/users.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove group description padding (#68)
  src/pages/GroupPage/Tabs/GroupSnapshotTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: rename groupmodal to pickgroup, fix group highlight (#67)
  src/components/lpikit/PickGroupDrawer/PickGroupDrawer.vue
  src/pages/AdminPortalPage/Tabs/PickGroup.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/components/Header/HeaderLink.vue
  src/design/scss/styles.scss
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: harmonize page titles and top margin
  src/components/Header/HeaderLink.vue
  src/design/scss/legal-page.scss
  src/design/scss/styles.scss
  src/pages/AccessibilityPage/AccessibilityPage.vue
  src/pages/AdminPortalPage/AdminPortalPage.vue
  src/pages/CategoriesPage/CategoriesPage.vue
  src/pages/CookiesPage/CookiesPage.vue
  src/pages/GroupsPage/GroupsPage.vue
  src/pages/HelpPage/HelpPage.vue
  src/pages/LegalNoticesPage/LegalNoticesPage.vue
  src/pages/NotificationSettingsPage/NotificationSettingsPage.vue
  src/pages/PeoplePage/PeoplePage.vue
  src/pages/PersonalDataPage/PersonalDataPage.vue
  src/pages/PortalPage/PortalPage.vue
  src/pages/StatsPage/StatsPage.vue
  src/pages/TermsOfServicePage/TermsOfServicePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1239-retirer-les-lien-contact-bug-de-la-page-Aide (#72)
  src/components/lpikit/Footer/FooterEnglishTips.vue
  src/components/lpikit/Footer/LpiFooter.vue
  src/pages/HelpPage/HelpPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: reorder blog entries on update and use creation date
  src/pages/ProjectPage/Tabs/BlogEntries/ProjectBlogEntriesTab.vue
  src/store/modules/projects.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: harmonize page titles and top margin (#70)
  src/components/Header/HeaderLink.vue
  src/design/scss/legal-page.scss
  src/design/scss/styles.scss
  src/pages/AccessibilityPage/AccessibilityPage.vue
  src/pages/AdminPortalPage/AdminPortalPage.vue
  src/pages/CategoriesPage/CategoriesPage.vue
  src/pages/CookiesPage/CookiesPage.vue
  src/pages/GroupsPage/GroupsPage.vue
  src/pages/HelpPage/HelpPage.vue
  src/pages/LegalNoticesPage/LegalNoticesPage.vue
  src/pages/NotificationSettingsPage/NotificationSettingsPage.vue
  src/pages/PeoplePage/PeoplePage.vue
  src/pages/PersonalDataPage/PersonalDataPage.vue
  src/pages/PortalPage/PortalPage.vue
  src/pages/StatsPage/StatsPage.vue
  src/pages/TermsOfServicePage/TermsOfServicePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1242-refacto-selection-sdg-dans-edition-de-profile (#75)
  src/components/lpikit/ProjectHeader/ProjectHeader.vue
  src/pages/ProfileEditPage/Tabs/ProfileGeneralEditTab.vue
  src/pages/ProjectPage/Tabs/ProjectGoals/SdgRecap.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: padding in project team tab
  src/pages/ProjectPage/Tabs/Team/ProjectTeamTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/components/lpikit/ProjectHeader/ProjectHeader.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1250-padding-en-trop-dans-l-onglet-team-de-projec (#82)
  src/components/lpikit/ProjectHeader/ProjectHeader.vue
  src/pages/ProjectPage/Tabs/Team/ProjectTeamTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: error on projects without sdg
  src/components/lpikit/ProjectHeader/ProjectHeader.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: route and section mismatch in search page (#81)
  src/components/Layouts/Search/BrowseLayout.vue
  src/components/lpikit/SearchOptions/SearchOptions.vue
  src/pages/CategoriesPage/CategoriesPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: error on projects without sdg (#90)
  src/components/lpikit/ProjectHeader/ProjectHeader.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: profile edit tabs width (#83)
  src/pages/ProfileEditPage/ProfileEditPage.vue
  src/pages/ProfileEditPage/Tabs/ProfileEditTabs.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: profile page padding (#85)
  src/components/lpikit/FullProfile/ProfileHeader.vue
  src/pages/UserProfilePage/UserProfilePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: hotfix blog entries sort and use created date
  src/pages/ProjectPage/Tabs/BlogEntries/ProjectBlogEntriesTab.vue
  src/store/modules/projects.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: rename admin helptab to helpadmintab (#86)
  src/pages/AdminPortalPage/Tabs/HelpAdminTab.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: wikitag links in project header
  src/components/lpikit/ProjectHeader/TagsList.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: rename contactdrawer to contactform
  src/components/Drawers/ContactForm.vue
  src/components/Header/LpiHeader.vue
  src/pages/RegisterPage/RegisterPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/pages/HelpPage/HelpPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: post rebase renamming contactdrawer to contactform
  src/components/lpikit/Footer/LpiFooter.vue
  src/pages/HelpPage/HelpPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/components/lpikit/ProjectHeader/TagsList.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: rename contactdrawer to contactform (#69)
  src/components/Drawers/ContactForm.vue
  src/components/Header/LpiHeader.vue
  src/components/lpikit/Footer/LpiFooter.vue
  src/pages/RegisterPage/RegisterPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: refacto see more buttons and add animation
  src/components/Profile/SkillSummary.vue
  src/components/Profile/UserDescriptions.vue
  src/components/lpikit/ProjectList/CardList.vue
  src/components/lpikit/SeeMoreArrow/SeeMoreArrow.vue
  src/components/lpikit/UserProfile/UserProjectList.vue
  src/pages/GroupPage/Tabs/GroupSnapshotTab.vue
  src/pages/ProjectPage/Tabs/Summary/DescriptionRecap.vue
  src/pages/ProjectPage/Tabs/shared/SectionHeader.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf
