Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf

:eyes:
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: pls
  .github/workflows/e2e-image-push.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: remove paths
  .github/workflows/e2e-image-push.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: move conf around
  k8s/projects-frontend/e2e/secrets.dev.yaml
  k8s/projects-frontend/e2e/values.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: pr feedbacks
  src/components/lpikit/EditEventDrawer/EditEventDrawer.vue
  src/components/lpikit/EventForm/EventForm.vue
  src/components/lpikit/MultiGroupPicker/MultiGroupPickerElement.vue
  src/pages/CreateEventPage/CreateEventPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

Proj 1535 cr er event form (#245)
  src/components/lpikit/EditEventDrawer/EditEventDrawer.vue
  src/components/lpikit/EventForm/EventForm.vue
  src/components/lpikit/EventList/EventItem.vue
  src/components/lpikit/EventList/EventList.vue
  src/components/lpikit/MultiGroupPicker/MultiGroupPicker.vue
  src/components/lpikit/MultiGroupPicker/MultiGroupPickerElement.vue
  src/components/peopleKit/Filters/FilterValue.vue
  src/locales/en.json
  src/locales/fr.json
  src/pages/CalendarPage/CalendarPage.vue
  src/pages/CalendarPage/Tabs/FutureEvents.vue
  src/pages/CalendarPage/Tabs/PastEvents.vue
  src/pages/CreateEventPage/CreateEventPage.vue
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add npm
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: do not hardcode schedule
  k8s/projects-frontend/templates/e2e.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: build the right dockerfile
  .github/workflows/e2e-image-push.yml
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add user id
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: change user management
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: mount emptydir for npm cache
  e2e.Dockerfile
  k8s/projects-frontend/templates/e2e.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: cache issue npm
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: use debian based image
  e2e.Dockerfile
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: run as CI, rework pw options
  k8s/projects-frontend/values.yaml
  playwright.config.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: use a string
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: hostname needs https://xxx/
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add ci config for video
  playwright.config.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add VITE_APP_HOME env var config
  .github/workflows/entrypoint-push-to-branches.yml
  Dockerfile
  k8s/projects-frontend/values.dev.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add charts to gitignore
  .gitignore
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: debug env for new home
  src/main.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: debug env for new home (#249)
  src/main.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: try to fix dynamic import for new home
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: try to fix dynamic import for new home (#250)
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: new home component switch
  package.json
  src/main.ts
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: new home component switch (#251)
  package.json
  src/main.ts
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: attempt to fix new home switch with a map
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: named old home in map
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove docker_inject from home map and add fallback
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: rewrite home switch with a map instead of pojo
  src/router/routes.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: unit test
  src/components/lpikit/FilterTags/WikipediaResults.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add artifacts
  k8s/projects-frontend/templates/e2e.yaml
  package.json
  playwright.config.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add upload to blob
  k8s/projects-frontend/templates/e2e.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: give more time to e2e
  playwright.config.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: use a steps wf
  k8s/projects-frontend/templates/e2e.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: use a step
  k8s/projects-frontend/templates/e2e.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: give more time to e2e (#253)
  playwright.config.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: pass artifact through
  k8s/projects-frontend/templates/e2e.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: inputs indent
  k8s/projects-frontend/templates/e2e.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: unit test
  src/components/lpikit/FilterTags/WikipediaResults.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri
