Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

feat: profile ssr head and setup script for profile and project
  src/composables/useLpiHead.ts
  src/pages/ProjectPage/ProjectPage.vue
  src/pages/UserProfilePage/Tabs/ProfileGroupsTab.vue
  src/pages/UserProfilePage/UserProfilePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: calendarpage ssr
  src/pages/CalendarPage/CalendarPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: people page ssr
  src/pages/PeoplePage/PeoplePage.vue
  src/pages/UserProfilePage/UserProfilePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: weird error when going to profile page from drawer in project summary
  src/components/project/description/DescriptionRecap.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: portal page ssr and setup script
  src/pages/PortalPage/PortalPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: categories page ssr and fix permissions composable usage
  src/pages/CategoriesPage/CategoriesPage.vue
  src/pages/CategoryPage/CategoryPage.vue
  src/pages/ProjectPage/ProjectPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove pagetitle mixin and ssrize errorpage and mappage
  nuxt.config.ts
  src/composables/useLpiHead.ts
  src/mixins/pageTitle.ts
  src/pages/CategoryPage/CategoryPage.vue
  src/pages/ErrorPage/ErrorPage.vue
  src/pages/MapPage/MapPage.vue
  src/views/AboutPage.vue
  src/views/DiscoverPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: annoucement page ssr and script setup
  src/api/announcements.service.ts
  src/pages/AnnouncementsPage/AnnouncementsPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: homepage ssr and setup script
  src/pages/NewHomePage/NewHomePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: search pagination
  src/components/project/SearchResults.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: instructions pages ssr and setup script
  src/components/base/HtmlLimiter.vue
  src/pages/InstructionListPage/InstructionListPage.vue
  src/pages/InstructionPage/InstructionPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove image mixin
  src/components/app/LpiFooter.vue
  src/components/base/CardList.vue
  src/components/base/form/ImageEditor.vue
  src/components/base/media/CroppedApiImage.vue
  src/components/category/CategoryDrawer.vue
  src/components/group/GroupForm/GroupForm.vue
  src/components/map/GeneralMap.vue
  src/components/news/NewsForm/NewsForm.vue
  src/components/people/Account/AccountForm.vue
  src/components/people/CompleteProfileDrawer/CompleteProfileStep1.vue
  src/components/people/FullProfile/ProfileHeader.vue
  src/components/project/InfoSentence.vue
  src/components/project/ProjectForm.vue
  src/components/project/ProjectHeader.vue
  src/components/project/map/LocationDrawer.vue
  src/components/project/map/MapRecap.vue
  src/components/project/sdg/SdgRecap.vue
  src/components/search/Filters/SdgIcon.vue
  src/mixins/imageMixin.ts
  src/pages/AdminPortalPage/Tabs/CategoriesTab.vue
  src/pages/ProfileEditPage/Tabs/ProfileGeneralEditTab.vue
  src/pages/RegisterPage/RegisterPage.vue
  src/views/AboutPage.vue
  src/views/DiscoverPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: make meta title reactive to lang change
  src/pages/AnnouncementsPage/AnnouncementsPage.vue
  src/pages/CalendarPage/CalendarPage.vue
  src/pages/CategoriesPage/CategoriesPage.vue
  src/pages/GroupsPage/GroupsPage.vue
  src/pages/InstructionListPage/InstructionListPage.vue
  src/pages/MapPage/MapPage.vue
  src/pages/NewsListPage/NewsListPage.vue
  src/pages/PeoplePage/PeoplePage.vue
  src/pages/PortalPage/PortalPage.vue
  src/pages/SearchPage/SearchPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove scroll and formathtml mixins
  src/components/base/form/TextEditor/UserPresenceCard.vue
  src/mixins/formatHtml.ts
  src/mixins/scroll.ts
  src/pages/AdminPortalPage/Tabs/CategoriesTab.vue
  src/views/DiscoverPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: port
  Dockerfile
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

feat: secrets entrypoint
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix org code env var
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: install bash
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: with correct env var
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: undo try to fix env runtime issues in head metas
  nuxt.config.ts
  src/composables/useLpiHead.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: use the right config file
  k8s/projects-frontend/templates/deployment.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: disable egress netpol
  k8s/projects-frontend/templates/network-policy.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: temp enable error log in prod
  src/server/plugins/nitroError.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: pass orgcode and defaultlanguage agnostically from framework
  k8s/projects-frontend/local.test.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: try to fix env runtime issues in head metas
  nuxt.config.ts
  src/composables/useLpiHead.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: pass binray prefix
  .github/workflows/entrypoint-push-to-branches.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

chore: remove home env var
  .env.example
  k8s/projects-frontend/values.dev.yaml
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: add default version
  k8s/projects-frontend/values.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

test: disable probes
  k8s/projects-frontend/templates/deployment.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: directory in dockerfile
  Dockerfile
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: config with correct key
  k8s/projects-frontend/secrets.dev.yaml
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove viewportwidth mixin
  src/components/base/navigation/TabsLayout.vue
  src/components/group/ProjectMemberSection/ProjectMemberSection.vue
  src/composables/useViewportWidth.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: regeneratorRuntime is not defined in production
  src/plugins/appInit.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: register page ssr
  src/functs/functions.ts
  src/pages/RegisterPage/RegisterPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: my profile page ssr
  src/pages/UserProfilePage/UserProfilePage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: newsfeed page ssr
  src/pages/NewsfeedPage/NewsfeedPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: create event ssr
  src/api/event.service.ts
  src/pages/CreateEventPage/CreateEventPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: regeneratorRuntime is not defined in production
  nuxt.config.ts
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: newsfeed page ssr
  src/pages/NewsfeedPage/NewsfeedPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: stats page ssr
  src/pages/StatsPage/StatsPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf
