Repository CyberCRI/projects-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri, @mohakhlf

feat: remove more keys
  .github/workflows/e2e.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

feat: install dotenv
  package.json
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: report only on main branches / staging and on right channel
  .github/workflows/e2e.yml
Owners: @francois-travais, @JulienDroulez, @mohakhlf

fix: deleting one skill deletes all the current selection (#104)
  src/components/lpikit/SkillsEditDrawer/SkillsEditDrawer.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add unit tests for userprofile
  src/models/user.model.ts
  src/pages/UserProfilePage/Tabs/ProfileProjectTab.vue
  tests/factories/user.factory.ts
  tests/unit/components/Profile/UserProfile.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileBioTab.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileGroupsTab.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileProjectTab.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileSkillTab.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileSummaryTab.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: shorten timeout
  playwright.config.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

Add slack reporting for e2e (#102)
  .github/workflows/e2e.yml
  package.json
  playwright.config.ts
  yarn.lock
Owners: @francois-travais, @JulienDroulez, @mohakhlf, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add unit tests to GroupPage
  src/api/group.service.ts
  src/components/lpikit/GroupHeader/GroupHeader.vue
  src/models/group.model.ts
  tests/unit/src/pages/GroupPage/GroupPage.spec.ts
  tests/unit/src/pages/GroupPage/Tabs/GroupSnapshotTab.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: add unit tests for userprofile (#105)
  src/models/user.model.ts
  src/pages/UserProfilePage/Tabs/ProfileProjectTab.vue
  tests/factories/user.factory.ts
  tests/unit/components/Profile/UserProfile.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileBioTab.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileGroupsTab.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileProjectTab.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileSkillTab.spec.ts
  tests/unit/pages/UserProfilePage/Tabs/ProfileSummaryTab.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

feat: unit test for GroupPage
  tests/unit/src/pages/GroupPage/Tabs/GroupMembersTab.spec.ts
  tests/unit/src/pages/GroupPage/Tabs/GroupProjectsTab.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: suppress dead code projectcard and categorybadge
  src/components/lpikit/CategoryBadge/CategoryBadge.vue
  src/components/lpikit/CategoryBadge/CategoryLink.vue
  src/components/lpikit/ProjectCard/ProjectButtons.vue
  src/components/lpikit/ProjectCard/ProjectCard.vue
  src/components/lpikit/ProjectCard/ProjectIcon.vue
  tests/unit/components/lpikit/CategoryBadge.spec.ts
  tests/unit/components/lpikit/ProjectCard/ProjectButtons.spec.ts
  tests/unit/components/lpikit/ProjectCard/ProjectCard.spec.ts
  tests/unit/components/lpikit/ProjectCard/ProjectIcon.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

PROJ-1278-Ajouter-des-tests-unitaires-pour-GroupPage (#106)
  src/api/group.service.ts
  src/components/lpikit/GroupHeader/GroupHeader.vue
  src/models/group.model.ts
  tests/unit/src/pages/GroupPage/GroupPage.spec.ts
  tests/unit/src/pages/GroupPage/Tabs/GroupMembersTab.spec.ts
  tests/unit/src/pages/GroupPage/Tabs/GroupProjectsTab.spec.ts
  tests/unit/src/pages/GroupPage/Tabs/GroupSnapshotTab.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: cleanup groupcard as real links
  src/pages/ProjectPage/Tabs/Team/ProjectTeamTab.vue
  src/pages/UserProfilePage/Tabs/ProfileGroupsTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: suppress dead code projectcard and categorybadge (#107)
  src/components/lpikit/CategoryBadge/CategoryBadge.vue
  src/components/lpikit/CategoryBadge/CategoryLink.vue
  src/components/lpikit/ProjectCard/ProjectButtons.vue
  src/components/lpikit/ProjectCard/ProjectCard.vue
  src/components/lpikit/ProjectCard/ProjectIcon.vue
  tests/unit/components/lpikit/CategoryBadge.spec.ts
  tests/unit/components/lpikit/ProjectCard/ProjectButtons.spec.ts
  tests/unit/components/lpikit/ProjectCard/ProjectCard.spec.ts
  tests/unit/components/lpikit/ProjectCard/ProjectIcon.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: redirect to correct page when canceling profile edition
  src/pages/ProfileEditPage/Tabs/ProfileGeneralEditTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: home carousel
  src/components/HomeCarousel/TabHomeCarouselItem.vue
  src/components/lpikit/Tabs/TabsLayout.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: redirect to correct page when canceling profile edition (#109)
  src/pages/ProfileEditPage/Tabs/ProfileGeneralEditTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: remove debug logs
  src/components/lpikit/Tabs/TabsLayout.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: cleanup groupcard as real links (#108)
  src/pages/ProjectPage/Tabs/Team/ProjectTeamTab.vue
  src/pages/UserProfilePage/Tabs/ProfileGroupsTab.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

Proj 1286 reparer le caroussel en home (#110)
  src/components/HomeCarousel/TabHomeCarouselItem.vue
  src/components/lpikit/Tabs/TabsLayout.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: disambiguate org and wiki tag api call functions
  src/api/organization-tags.service.ts
  src/api/wikipedia-tags.service.ts
  src/components/lpikit/FilterTags/WikipediaResults.vue
  src/components/lpikit/SearchOptions/SearchOptions.vue
  src/store/modules/organization-tags.ts
  src/store/modules/wikipedia-tags.ts
  tests/unit/store/organization-tags.spec.ts
  tests/unit/store/wikipedia-tags.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: remove wikipedia-tags store
  src/components/lpikit/FilterTags/FilterTags.vue
  src/components/lpikit/FilterTags/WikipediaResults.vue
  src/components/peopleKit/Filters/TagsFilterEditor.vue
  src/pages/AdminPortalPage/Tabs/TagsTab.vue
  src/store/index.ts
  src/store/modules/organizations.ts
  src/store/modules/wikipedia-tags.ts
  tests/unit/components/lpikit/FilterTags/FilterTags.spec.ts
  tests/unit/components/peoplekit/filters/TagsFilterEditor.spec.ts
  tests/unit/store/organizations.spec.ts
  tests/unit/store/wikipedia-tags.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

try to add stabily on e2e tests
  src/components/peopleKit/ProjectCard.vue
  tests/playwright/lib/addDescription.ts
  tests/playwright/lib/search.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: remove organization tags store
  src/components/lpikit/FilterTags/FilterTags.vue
  src/components/lpikit/FilterTags/SuggestedTags.vue
  src/components/peopleKit/Filters/TagsFilterEditor.vue
  src/pages/AdminPortalPage/Tabs/TagsTab.vue
  src/store/index.ts
  src/store/modules/organization-tags.ts
  tests/unit/components/lpikit/FilterTags/FilterTags.spec.ts
  tests/unit/components/peoplekit/filters/TagsFilterEditor.spec.ts
  tests/unit/store/organization-tags.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: remove map store and mixin
  src/components/lpikit/Map/BaseMap.vue
  src/components/lpikit/Map/ProjectTooltip.vue
  src/mixins/mapMixin.ts
  src/store/index.ts
  src/store/modules/maps.ts
  tests/unit/components/lpikit/ProjectView/Summary/MapRecap.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

restore old tests
  tests/playwright/lib/search.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: unit test
  tests/unit/components/lpikit/FilterTags/FilterTags.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: unit test
  tests/unit/components/peoplekit/filters/TagsFilterEditor.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: unit test
  tests/unit/components/peoplekit/filters/TagsFilterEditor.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

remove comment
  tests/playwright/lib/search.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

chore: remove faqs store
  src/App.vue
  src/pages/AdminPortalPage/Tabs/HelpAdminTab.vue
  src/pages/HelpPage/HelpPage.vue
  src/pages/HelpPage/Tabs/OnBoardingTab.vue
  src/store/index.ts
  src/store/modules/faqs.ts
  tests/unit/store/faqs.spec.ts
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: re-init group select drawer on open
  src/components/lpikit/GroupSelectDrawer/GroupSelectDrawer.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: limit org logo height in register page
  src/pages/RegisterPage/RegisterPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: restrict user random color in editor to contrastive ones
  src/components/lpikit/TextEditor/TipTapEditor.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: lint
  src/components/lpikit/Tabs/TabsLayout.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: add comment
  src/components/lpikit/Tabs/TabsLayout.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: tabs layout computation
  src/components/lpikit/Tabs/TabsLayout.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

rename searchGroups into searchGroupAlgolia
  src/api/projects.service.ts
  src/components/lpikit/GroupSelectDrawer/GroupSelectDrawer.vue
  src/components/lpikit/ProjectListSearch/ProjectListSearch.vue
  src/components/lpikit/TeamDrawer/UserSelection.vue
  src/pages/AdminPortalPage/Tabs/PickGroup.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: tabs layout computation (#84)
  src/components/lpikit/Tabs/TabsLayout.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

fix: limit org logo height in register page (#119)
  src/pages/RegisterPage/RegisterPage.vue
Owners: @francois-travais, @JulienDroulez, @colinfaivre, @henridelozanne, @FaresDoghri

.github/CODEOWNERS:

# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @francois-travais @JulienDroulez @colinfaivre @henridelozanne @FaresDoghri

deployment/ @francois-travais @JulienDroulez @mohakhlf
.github/ @francois-travais @JulienDroulez @mohakhlf
Dockerfile @francois-travais @JulienDroulez @mohakhlf
.dockerignore @francois-travais @JulienDroulez @mohakhlf
